@import "../../vars";

#content > h1 + p select { font: inherit }
#full-list {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;

	&:empty:before {
		font-size: 1.4em;
		font-style: italic;
		content: "No appearances to show";
		display: block;
		text-align: center;
	}

	$fontsize: 20px;

	&.sorting {
		section > ul {
			font-size: 0;

			li > a {
				font-size: $fontsize;
				cursor: move;

				border-color: initial;

				&.moving { text-shadow: 0 0 5px currentColor, 0 0 10px currentColor }
			}
		}
	}

	section {
		h2 > button {
			margin-left: 1em;
			display: inline;
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
		}

		ul {
			$spacing: 6px;
			font-size: $fontsize;
			list-style: none;
			padding: 0;
			margin: 0 0 0 #{-$spacing};
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			li {
				flex: 0 1 auto;
				margin: $spacing/2 0 $spacing/2 $spacing;
				position: relative;
				box-sizing: border-box;
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;

				> a {
					padding: 5px;
					border: 1px solid;
					display: flex;
					flex-flow: column nowrap;
					align-items: center;
					justify-content: space-around;

					&:not(:last-child) a { margin-right: .8em }

					img {
						height: 100px;
						display: block;
						margin: 0 auto 10px;

						&.border {
							border: 1px solid;
						}
					}

					.name {
						display: inline-block;
						padding: 1px 3px;
						border: 2px solid transparent;
						margin-bottom: 1px;

						.typcn, .typcn:before {
							display: inline !important;
							font-size: 1em !important;
						}
					}
					.aka {
						font-size: .5em;
						color: black;
					}
				}
			}
		}
	}
}
