$_TBase: #0c70b1;
$TDefault: gray;
$TCategory: $_TBase;
$TSpecies: adjust_hue($_TBase, -70);
$TGender: adjust_hue($_TBase, 60);
$TAppearance: adjust_hue($_TBase, 120);
$TEpisode: adjust_hue($_TBase, 190);
$TCharacter: adjust_hue($_TBase, 240);

@mixin tag-style($color:$TDefault, $icon:false){
	color: darken($color, 5);
	background-color: lighten($color, 50);
	@if ($icon != false){
			&:before { content: $icon }
	}
}
@mixin tag-button-style($color:$TDefault){
	button {
		background-color: darken($color, 5);
		color: lighten($color, 50);
	}
}

@mixin colored-square($size:16px, $border:1px){
			display: inline-block;
			border: $border solid #000;
			width: #{$size - $border*2};
			height: #{$size - $border*2};
			font-size: 0;
			transform: scale(1);

			&:not(:empty) {
				cursor: pointer;

				&:active { transform: scale(.9) }
			}
			&:empty {
				background: url(../img/transparency.svg);
				background-size: 8px;
			}
			&:not(:last-child){ margin-right: 4px }
}

@mixin clrp-invalid($fontSize:24px){
	background-color: transparent !important;
	background: url(../img/transparency.svg) repeat;
	background-size: 12px;
	color: red;
	border: 2px solid;
	position: relative;

	&:before {
		$padding: 2px;
		$fontSize: $fontSize - (2*$padding);

		content: "?";
		position: absolute;
		top: 0;
		left: 0;
		padding: $padding;
		line-height: $fontSize;
		font-size: $fontSize;
		height: $fontSize;
		width: $fontSize;
		text-align: center;
		font-weight: bold;
	}
}

@mixin pony-cm-image($SquareSize: 250px){
		display: block;
		width: $SquareSize;
		height: $SquareSize;
		position: relative;
		font-size: 0;

		//noinspection CssOptimizeSimilarProperties
		.img {
			$CMSize: $SquareSize * 0.4857;

			position: absolute;
			top: 0;
			left: 0;
			width: $CMSize;
			height: $CMSize;
			margin: ($SquareSize - $CMSize)/2;

			&.cm-dir-th { transform: rotateZ(20deg) }
			&.cm-dir-ht { transform: rotateZ(-20deg) }

			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
}

%clr {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	&.moving {
		box-shadow: 0 0 10px #000;
		background: #fff;
	}

	.clrp {
		flex: 0 0 auto;
		display: block;
		border: 1px solid #000;
		height: 28px;
		width: 28px;
		box-sizing: border-box;
		transition: background-color .2s linear, border .2s linear;

		&.invalid { @include clrp-invalid }
	}
	.clri, .clrl {
		flex: 0 1 auto;
		width: 100%;
		background-image: none !important;
	}
	.clri {
		max-width: 65px;
		font-family: 'Source Code Pro Semibold', 'Consolas', monospace;
	}
	.clra {
		margin-left: 3px;
		flex: 1 0 auto;

		> *, > *:before { line-height: 28px }
		.remove { cursor: pointer }
		.move { cursor: ns-resize }
	}

	&:first-child:last-child .clra .move {
		display: none;
	}
}
