$_TBase: #0c70b1;
$TDefault: gray;
$TCategory: $_TBase;
$TSpecies: adjust_hue($_TBase, -70);
$TGender: adjust_hue($_TBase, 60);
$TAppearance: adjust_hue($_TBase, 120);
$TEpisode: adjust_hue($_TBase, 190);
$TCharacter: adjust_hue($_TBase, 240);

@mixin tag-style($color:$TDefault, $icon:false){
	color: darken($color, 5);
	background-color: lighten($color, 50);
	@if ($icon != false){
			&:before { content: $icon }
	}
}
@mixin tag-button-style($color:$TDefault){
	button {
		background-color: darken($color, 5);
		color: lighten($color, 50);
	}
}

@mixin colored-square($size:16px, $border:1px){
			display: inline-block;
			border: $border solid #000;
			width: #{$size - $border*2};
			height: #{$size - $border*2};
			font-size: 0;
			transform: scale(1);

			&:not(:empty) {
				cursor: pointer;

				&:active { transform: scale(.9) }
			}
			&:empty {
				background: url(../img/transparency.svg);
				background-size: 8px;
			}
			&:not(:last-child){ margin-right: 4px }
}
