button, .btn {
	display: inline-block;
	margin: 5px 2.5px;
	border: 0;
	border-radius: 3px;
	color: #fff;
	background-color: #777;
	padding: 4px 7px;
	font-family: inherit;
	font-size: 16px;
	text-decoration: none;
	user-select: none;
	opacity: .8;
	cursor: pointer;
	transform-origin: 50% 100%;
	transition: transform .1s linear, opacity .2s linear;

	&.large { font-size: 22px }
	&.blue {
		color: $NBlueBG !important;
		background-color: $NBlue !important;
	}
	&.darkblue {
		color: $NDarkBlueBG !important;
		background-color: $NDarkBlue !important;
	}
	&.green {
		color: $NGreenBG !important;
		background-color: $NGreen !important;
	}
	&.red {
		color: $NRedBG !important;
		background-color: $NRed !important;
	}
	&.orange {
		color: $NOrangeBG !important;
		background-color: $NOrange !important;
	}
	&.yellow {
		color: $NYellowBG !important;
		background-color: $NYellow !important;
	}
	&:hover, &:focus { opacity: 1 }
	&:active { transform: scale(.96) }
}
