// Page colors
$HeaderBlue: #1E3DB3;
$NavFootBG: rgba(0,0,0,.75);
$ContentOutline: rgba(170,170,170,.8);
$ContentBG: rgba(255,255,255,.6);

// Links
$Link: #337287;
$LinkHover: desaturate(lighten($Link, 13), 7);

// Notices & buttons
$NBlue: #07f;
$NBlueBG: #def;
$NDarkBlue: #03d;
$NDarkBlueBG: #ddf;
$NGreen: #090;
$NGreenBG: #dfd;
$NRed: #d00;
$NRedBG: #fdd;
$NOrange: #d50;
$NOrangeBG: #fed;
$NYellow: #b80;
$NYellowBG: #ffd;

$NoFontChange: true;
@mixin link($color:$Link, $hover:$LinkHover){
	color: $color;
	text-decoration: none !important;
	transition: color .2s linear;
	font-weight: bold;

	&:hover { color: $hover }
}

%clearfix {
	&:before,
	&:after {
		content: ".";
		display: block;
		overflow: hidden;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
		width: 0;
		height: 0;
	}
	&:after { clear: both }
}

// Mobile-to-Desktop breakpoint pixel value
$Breakpoint: 650px;
