#content {
	> img {
		width: 100%;
		max-width: 200px;
		margin: 0 auto 10px;
		display: block;
	}
	> h1 + p {
			font-size: 1.4em;
			margin: 0 0 20px;
	}
	> section {
		> h2 {
			font-size: 1.5em;
			text-align: left;
			margin: 0 0 5px;
			font-family: "Celestia", sans-serif;
		}
		> div > * {
			margin: 0 0 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.ramnode img {
			border-radius: 7px;
			max-height: 45px;
			max-width: 100%;
		}

		&:not(:last-child){
			margin-bottom: 10px;
		}
	}
}
