@import "vars";

#content {
	> img {
		width: 100%;
		max-width: 200px;
		margin: 0 auto 10px;
		display: block;
	}
	> h1 + p {
			font-size: 1.4em;
			margin: 0 0 20px;
	}
	> section {
		@extend %section;

		.attributions {
			p { line-height: 1.4 }

			.ramnode img {
				border-radius: 7px;
				max-height: 45px;
				max-width: 100%;
			}
		}

		&:not(:last-child){
			margin-bottom: 10px;
		}

		&.browsers table {
			border-collapse: collapse;
			background: #fff;

			td, th {
				border: 1px solid;
				padding: 5px;
			}
		}
	}
}

#stats {
	> div > h3 {
		text-align: center;
		margin: 0 0 7px;
		font-size: 1.3em;
	}
	.stats-posts {
		width: 100%;
		border: 1px solid $ContentOutline;
		background: #fff;
		$StatPadding: 7px;
		padding: $StatPadding;
		box-sizing: border-box;

		canvas {
			width: calc(100% - #{$StatPadding}) !important;
			height: 200px !important;
		}
		.legend {
			text-align: center;
			padding: 5px 10px 0;

			&:empty:before {
				content: "Loading graph, please wait...";
			}

			&, > span > span {
				line-height: 1.2em;
				height: 1.2em;
			}
			> span {
				&:not(:last-child) {
					margin-right: 15px;
				}
				> span {
					display: inline-block;
					vertical-align: middle;

					&.sq {
						display: inline-block;
						height: 1em;
						width: 1em;
						margin: .1em 5px .1em .1em;
						border-radius: 3px;
					}
				}
			}
		}
	}
}
