@import "vars";

#content {
	> img {
		width: 100%;
		max-width: 200px;
		margin: 0 auto 10px;
		display: block;
	}
	> h1 + p {
			font-size: 1.4em;
			margin: 0 0 20px;
	}
	> section {
		@extend %section;

		.ramnode img {
			border-radius: 7px;
			max-height: 45px;
			max-width: 100%;
		}

		&:not(:last-child){
			margin-bottom: 10px;
		}

		&.browsers table {
			border-collapse: collapse;
			background: #fff;

			td, th {
				border: 1px solid;
				padding: 5px;
			}
		}
	}
}
