@import "vars";
@import "theme_section";
@import "theme_post-ul";

#content {
	> section {
		@extend %section;

		.countdown {
			text-align: center;
			font-size: 22px;

			span {
				font-size: 2em;
			}

			@media all and (min-width: $Breakpoint){
				br { display: none }
			}
		}

		&.useful-links {
			ol {
				margin: 5px 0 0;
				font-size: 1.2em;
				padding-left: 30px;

				&:empty:before {
					content: "There are no useful links in the database";
					font-style: italic;
				}

				li {
					&:not(:last-child) { margin-bottom: 10px }

					.buttons {
						margin-top: 5px;

						button, .btn {
							margin: 0;
							&:not(:last-child) { margin-right: 10px }
						}

						.typcn-arrow-move { cursor: move !important }
					}
				}
			}
		}
		&.recent-posts ul {
			@extend %post-ul;
			margin-bottom: 0;

			&:empty:before {
				content: "No recent posts to show";
				font-style: italic;
			}

			li .reserver .da-userlink .name {
				font-size: 16px;
				vertical-align: middle;
			}
		}
	}
}
