//noinspection CssUnknownTarget
@import "../css/jquery.qtip.min";
@import "vars";
@import "colorguide_vars";
@import "_theme_ctxmenu";
// Mobile-only
@media all and (max-width: 650px){
	.appearance-list > li {
		display: block !important;

		> div {
			&:first-child {
				display: none;
			}
			&:last-child {
				max-width: 100% !important;
				padding: 0 !important;
				display: block !important;
			}
		}
	}
	div.tags {
		white-space: initial !important;
		border-top: 1px solid;
		width: 100%;
		padding-top: 6px;

		&:before {
			content: "Tagged: ";
			font-weight: bold;
		}

		> .addtag, > .twitter-typeahead {
			display: none !important;
		}
	}
	.tag {
		background-color: transparent !important;

		&:not(:last-child):after {
			content: ",";
			font-weight: normal;
			color: #434343;
		}
	}
}
// Desktop-only
@media all and (min-width: 650px){
	.tag {
		padding: 3px 5px;
		border: 1px solid;
		cursor: default;
		height: 26px;

		&:not(:last-child) { margin-right: 5px }
	}
	.appearance-list > li > div:last-child { max-width: calc(100% - 160px) }

	.notice.tagediting { display: none }
}

#content > p.links { margin: 0 0 5px }

.appearance-list {
	padding: 0;
	margin: 0;

	.pagination + &:empty:before {
		font-size: 1.4em;
		font-style: italic;
		content: "There are no appearances on this page";
		display: block;
		text-align: center;
	}

	> li {
		padding: 10px;
		color: #434343;
		background-color: rgba(black, .05);
		border: 1px solid rgba(black, .2);
		box-shadow: 0 0 2px rgba(black, .2);
		display: flex;
		flex-flow: row nowrap;

		&:not(:last-child) { margin-bottom: 10px }

		> * {
			flex: 0 0 auto;
			max-width: 100%;
		}
		> div {
			&:not(:last-child) { margin-right: 10px }

			@mixin activate {
				background-color: rgba(white, .7);
				&:before, &:after { opacity: 1 }
			}

			> .upload-wrap {
				position: relative;
				overflow: hidden;

				> input[type=file] {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					padding: 0;
					border: 0;
					z-index: 3;
					cursor: pointer;

					&:hover + .helper { @include activate }
				}
				&.drop, &.uploading {
					> .helper { @include activate }
				}
				&.drop > .helper:before { content: '\e060' }
				&.uploading > .helper {
					&:before {
						content: '\e020';
						animation: spin infinite 1s linear;

						@keyframes spin {
							0% {
								transform: rotateZ(0deg);
							}
							100% {
								transform: rotateZ(360deg);
							}
						}
					}
					&[data-progress]:after {
						content: "Uploading...\0A" attr(data-progress) "%";
						font-size: 18px;
					}
				}
				> .helper {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					font-size: 48px;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: column wrap;
					transition: background-color .2s;

					&:before, &:after {
						position: relative;
						z-index: 3;
						opacity: 0;
						transition: opacity .2s;
						color: #fff;
					}
					&:before {
						//noinspection CssNoGenericFontName
						font-family: 'Typicons';
						content: '\e00b';
						@include outline($LightOutline, #000);
					}
					&:after {
						content: "Open in new tab";
						font-weight: bold;
						white-space: pre-wrap;
						display: block;
						text-align: center;
						font-size: 16px;
						margin-top: 5px;
						@include outline($MediumOutline, #000);
					}
				}
			}
			&:first-child img { width: 150px }
			> strong {
				display: block;
				font-size: 1.5em;

				button, .btn { margin-left: 8px }
			}
			> .update {
				font-size: .8em;

				&:empty { display: none }

				time { border-bottom: 1px dashed }
			}
			> .notes {
				margin-top: 6px;
				white-space: pre-wrap;

				&:empty { display: none }

				> span + a {
					margin-left: 5px;
					border-left: 1px solid #000;
					padding-left: 5px;
				}
			}
		}
	}
}

div.tags {
	user-select: none;
	margin-top: 6px;
}
.tag:not(.addtag), div.tags .twitter-typeahead {
	margin: 0 6px 6px 0;
	vertical-align: top;
}
.twitter-typeahead {
	&.loading{
		position:relative;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 5px;
			right: 5px;

			@include sprite-animation(16px, 16px, 12, 'indicator');
		}
	}
	.addtag {
		margin-right: 0;
		cursor: text;
	}
}
.tag {
	display: inline-block;
	font-weight: bold;
	box-sizing: border-box;
	cursor: default;

	&:before {
		//noinspection CssNoGenericFontName
		font-family: 'Typicons';
		margin-right: 5px;
	}

	.tt-dataset & {
		display: block;
		margin: 0;
	}

	&:not([class*=typ-]) { @include tag-style($TDefault) }
	&.typ-cat { @include tag-style($TCategory, '\e083')	}
	&.typ-spec { @include tag-style($TSpecies, '\e148') }
	&.typ-gen { @include tag-style($TGender, '\e10f') }
	&.typ-app { @include tag-style($TAppearance, '\e07e') }
	&.typ-ep { @include tag-style($TEpisode, '\e131') }
	&.typ-char { @include tag-style($TCharacter, '\e12c') }
}

#universal ul.colors {
	margin-top: 6px;

	li { margin-bottom: 0 }
}
ul.colors {
	display: block;
	padding: 0;
	list-style: none;
	white-space: initial !important;
	margin: 0;
	user-select: none;

	&:empty:before {
		font-size: 1.4em;
		font-style: italic;
		content: "There are no " attr(data-color) " groups for this appearance, add one by right-clicking here";
		display: block;
		text-align: center;
	}

	> li {
		display: inline-block;
		border: 1px solid rgba(black, .2);
		background-color: rgba(black, .05);
		padding: 4px;
		margin: 0 5px 5px 0;
		font-size: 18px;

		> * { vertical-align: middle }
		> span:not(.cat) { @include colored-square(18px, 1px) }
	}
}

%qtip-custom {
	font-size: 16px;
	line-height: initial !important;
	min-width: initial !important;

	.qtip-titlebar {
		padding: 5px;
		text-align: center;
		border-bottom: 1px solid;
		background: inherit;

		+ .qtip-content { font-size: .75em }
	}
	.qtip-content {
		padding: 5px;
		text-align: center;
	}
}

.qtip-see-thru {
	background-color: rgba(white,.8);
	border: 1px solid rgba(black,.7);
	box-shadow: 0 0 2px rgba(black,.7);

	@extend %qtip-custom;
}

.qtip-tag {
	@include tag-style($TDefault);

	border-color: initial !important;

	@extend %qtip-custom;
}

.qtip-tag-cat { @include tag-style($TCategory) }
.qtip-tag-spec { @include tag-style($TSpecies) }
.qtip-tag-gen { @include tag-style($TGender) }
.qtip-tag-app { @include tag-style($TAppearance) }
.qtip-tag-ep { @include tag-style($TEpisode) }
.qtip-tag-char { @include tag-style($TCharacter) }

#search-form {
	text-align: center;
	margin: 0 auto 10px;
	display: block;

	button {
		font-size: 1em;

		&:not(:last-child) { margin-right: 5px }
	}
	p { margin: 5px 0 0 }
}
