@import "colorguide_vars";
@import "vars";

#content {
	> .sprite {
		margin: 0 auto 5px;
		display: block;
		width: 100%;
		max-width: 300px;
		height: 300px;

		> .upload-wrap {
			a, a > img {
				display: block;
			}
			a > img { margin: 0 auto }
		}

		img {
			height: 300px;
		}
	}
	> h1 {
		font-size: 2.2em;
		line-height: 1.2em;
		margin-bottom: 10px;
	}

	section { @extend %section }

	#tags .tags {
		&:empty:before { content: "This appearance has no tags" }
		> :not(:last-child) {
			margin-right: 7px;
		}
	}

	#notes {
		font-size: 1.1em;
		background: papayawhip;
		color: saddlebrown;
		padding: 10px;
		border: 1px solid burlywood;
		display: inline-block;
	}

	#pony-cm {
		$SquareSize: 250px;

		display: block;
		width: $SquareSize;
		height: $SquareSize;
		position: relative;
		font-size: 0;

		//noinspection CssOptimizeSimilarProperties
		.img {
			$CMSize: $SquareSize * 0.4857;

			position: absolute;
			top: 0;
			left: 0;
			width: $CMSize;
			height: $CMSize;
			margin: ($SquareSize - $CMSize)/2;

			&.cm-dir-th { transform: rotateZ(20deg) }
			&.cm-dir-ht { transform: rotateZ(-20deg) }

			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
	}

	#colors {
		margin: 10px 0 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		li {
			margin: 5px;
			padding: 10px;
			color: #434343;
			background-color: rgba(0,0,0,.07);
			border: 1px solid rgba(0,0,0,.2);
			font-size: 12px;
			font-family: 'Verdana', sans-serif;
			flex: 1 0 auto;
			text-align: center;

			> .cat {
				font-size: 2.2em;
				font-weight: bold;
				display: block;
				margin: 0 0 5px;
				font-family: 'Celestia', sans-serif;

				~ span {
					@include colored-square(35px);
				}
				~ .color-line {
					display: flex;

					&:not(:last-child){
						margin-bottom: 5px;
					}

					:first-child {
						display: block;
						flex: 0 0 35px;

						@include colored-square(35px);
					}
					:last-child {
						display: block;
						flex: 1 1 auto;
						font-size: 20px;
						line-height: 35px;
						height: 35px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						text-align: left;
						box-sizing: border-box;
						padding: 0 5px;
					}
				}
			}
		}
	}
}
