@import "../css/jquery.qtip.min.css";
@import "vars";
@import "_theme_ctxmenu";
// Mobile-only
@media all and (max-width: 650px){
	#list > li > div {
		&:last-child { max-width: 100% }
		> img {
			display: none;
		}
	}
	div.tags {
		white-space: initial !important;
		border-style: solid;
		border-width: 1px 0;
		width: 100%;
		padding: 3px 0;

		&:before {
			content: "Tags: ";
			font-weight: bold;
		}
	}
	.tag {
		background-color: transparent !important;

		&:not(:last-child):after {
			content: ",";
			font-weight: normal;
			color: #434343;
		}
	}
}
// Desktop-only
@media all and (min-width: 650px){
	.tag {
		padding: 3px 5px;
		border: 1px solid;
		cursor: default;

		&:not(:last-child) { margin-right: 5px }
	}
	#list > li > div:last-child { max-width: calc(100% - 160px) }

	.notice.tagediting { display: none }
}
#list {
	padding: 0;
	margin: 0;

	> li {
		padding: 10px;
		color: #434343;
		background-color: rgba(black,.05);
		border: 1px solid rgba(black,.2);
		box-shadow: 0 0 2px rgba(black,.2);
    display: flex;
    flex-flow: row nowrap;

		&:not(:last-child) { margin-bottom: 10px }

		> * {
			flex: 0 0 auto;
			max-width: 100%;
		}
		> div {
			&:not(:last-child) { margin-right: 10px }

			@mixin activate {
						background-color: rgba(white, .7);
						&:before, &:after { opacity: 1 }
			}

			> .upload-wrap {
				position: relative;
				overflow: hidden;

				> input[type=file] {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					padding: 0;
					border: 0;
					z-index: 3;
					cursor: pointer;

					&:hover + .helper { @include activate }
				}
				&.drop, &.uploading {
					> .helper { @include activate }
				}
				&.drop > .helper:before { content: '\e060' }
				&.uploading > .helper {
					&:before {
						content: '\e020';
						animation: spin infinite 1s linear;

						@keyframes spin {
							0% {
								transform: rotateZ(0deg);
							}
							100% {
								transform: rotateZ(360deg);
							}
						}
					}
					&[data-progress]:after {
						content: "Uploading...\0A"attr(data-progress) "%";
						font-size: 18px;
					}
				}
				> .helper {
					position:absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					font-size: 48px;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: column wrap;
					transition: background-color .2s;

					&:before, &:after {
						position: relative;
						z-index: 3;
						opacity: 0;
						transition: opacity .2s;
						color: #fff;
					}
					&:before {
						//noinspection CssNoGenericFontName
						font-family: 'Typicons';
						content: '\e00b';
						@include outline($LightOutline, #000);
					}
					&:after {
						content: "Open in new tab";
						font-weight: bold;
						white-space: pre-wrap;
						display: block;
						text-align: center;
						font-size: 16px;
						margin-top: 5px;
						@include outline($MediumOutline, #000);
					}
				}
			}
			&:first-child img { width: 150px }
			> :not(img):not(:last-child) { margin-bottom: 6px }
			> strong {
				display: block;
				font-size: 1.5em;

				button { margin-left: 8px }
			}
			.notes:empty { display: none }
		}
	}
}

$_TBase: #0c70b1;
$TDefault: gray;
$TCategory: $_TBase;
$TSpecies: adjust_hue($_TBase, -70);
$TGender: adjust_hue($_TBase, 60);
$TAppearance: adjust_hue($_TBase, 120);
$TEpisode: adjust_hue($_TBase, 200);

@mixin tag-style($color:$TDefault, $icon:false){
	color: darken($color, 5);
	background-color: lighten($color, 50);
	@if ($icon != false){
			&:before { content: $icon }
	}
}

div.tags { user-select: none }
.tag {
	display: inline-block;
	font-weight: bold;

	&[title] { cursor: help }
	&:before {
		//noinspection CssNoGenericFontName
		font-family: 'Typicons';
		margin-right: 5px;
	}

	&:not([class*=typ-]) { @include tag-style($TDefault) }
	&.typ-cat { @include tag-style($TCategory, '\e083')	}
	&.typ-spec { @include tag-style($TSpecies, '\e148') }
	&.typ-gen { @include tag-style($TGender, '\e12c') }
	&.typ-app { @include tag-style($TAppearance, '\e07e') }
	&.typ-ep { @include tag-style($TEpisode, '\e131') }
}

ul.colors {
	display: block;
	padding: 0;
	list-style: none;
	white-space: initial !important;

	> li {
		display: inline-block;
		border: 1px solid rgba(black, .2);
		background-color: rgba(black, .05);
		padding: 4px;
		margin: 0 5px 5px 0;

		> span:not(.cat) {
			display: inline-block;
			$size: 16px;
			$border: 1px;
			border: $border solid #000;
			width: #{$size - $border*2};
			height: #{$size - $border*2};
			vertical-align: middle;
			cursor: pointer;
			font-size: 0;
			transform: scale(1);

			&:active { transform: scale(.8) }
		}
	}
}

%qtip-custom {
	font-size: 16px;
	line-height: initial !important;
	min-width: initial !important;

	.qtip-titlebar {
		padding: 5px;
		text-align: center;
		border-bottom: 1px solid;
		background: inherit;

		+ .qtip-content { font-size: .75em }
	}
	.qtip-content {
		padding: 5px;
		text-align: center;
	}
}

.qtip-see-thru {
	background-color: rgba(white,.8);
	border: 1px solid rgba(black,.7);
	box-shadow: 0 0 2px rgba(black,.7);

	@extend %qtip-custom;
}

.qtip-tag {
	@include tag-style($TDefault);

	border-color: initial !important;

	@extend %qtip-custom;
}

.qtip-tag-cat { @include tag-style($TCategory) }
.qtip-tag-spec { @include tag-style($TSpecies) }
.qtip-tag-gen { @include tag-style($TGender) }
.qtip-tag-app { @include tag-style($TAppearance) }
.qtip-tag-ep { @include tag-style($TEpisode) }

#edit-tag .type-selector {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	user-select: none;

	> span { margin-bottom: 5px }

	label {
		flex: 1 1 auto;
		margin: 2px;

		* { cursor: pointer }
	}
	input {
		display: none;

		~ span { display: block }
		&:not(:checked) ~ span { opacity: .5 }
	}
}
