@import "vars";
@import "jquery.fluidbox";
.fluidbox__overlay { background: rgba(0,0,0,.9) !important }


/* Mobile-only Styles */
@media all and (max-width: $Breakpoint){
	#content > section {
		h2 {
			text-align: center;
			border-radius: 3px;

			button {
				display: block;
				margin: 5px auto 3px;
			}
		}
		.avatar {
			display: none;
		}
	}
}
/* Desktop-only Styles */
@media all and (min-width: $Breakpoint){
	body.no-distractions {
		overflow: hidden;
		padding-right: 18px;

		header, footer {
			opacity: 0;
			pointer-events: none;
		}
		#sidebar { display: none }
	}
	#content > section {
		h2 {
			display: inline-block;
			height: 30px;
			position:relative;
			left:-10px;

			&:after {
				content:"";
				position: absolute;
				top: 0;
				right: -30px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 30px 0 0 30px;
				border-color: transparent transparent transparent #ccc;
			}

			button {
				margin: 0 0 0 10px;
				padding: 3px;
				vertical-align: bottom;
			}
		}
	}
}

#content {
	> .rules {
		counter-reset: counter;

		ol {
			padding: 0 10px;
			margin: 0;
			list-style: none;

			li {
				position: relative;
				padding-left: 20px;

				&:before {
					position: absolute;
					left: 0;
					text-align: right;
					content: counter(counter) ") ";
					counter-increment: counter;
				}
				&:not(:last-child) {
					margin-bottom: 5px;
				}
			}
		}
	}
	> section {
		margin: 10px 0 0;

		&:last-of-type {
			> div:last-of-type > ul { margin-bottom: 0 !important }
			> form { margin-top: 20px }
		}

		> .resp-embed-wrap {
			width: 100%;
			margin: 0 auto;
			@media all and (min-height: 800px) {
				max-width: 1280px;
			}
			@media all and (min-height: 500px) and (max-height: 800px){
				max-width: 800px;
			}
			@media all and (max-height: 500px){
				max-width: 500px;
			}

			> .responsive-embed {
				position: relative;
				padding-bottom: 56.25%;
				height: 0;
				overflow: hidden;
				max-width: 100%;
				margin-bottom: 10px;
				color: $HeaderFooterBG;
				box-sizing: border-box;


				&:before, &:after, iframe, object, embed {
					position: absolute;
					content: '';
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					display: block;
					box-sizing: border-box;
				}

				&:before {
					z-index: 1;
					border: 5px dashed;
				}

				&:after {
					z-index: 2;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					overflow: hidden;

					@include sprite-animation(64px, 49px, 8, 'preloader');
				}

				iframe, object, embed {
					z-index: 3;
					top: 0;
					border: 0;
					margin: 0;
					padding: 0;
				}
			}
		}

		h2 {
			font-size: 1.3em;
			margin: 0 0 10px;
			background-color: #ccc;
			padding: 3px 7px 3px 25px;
			font-weight: normal;
			box-sizing: border-box;

			a { color: inherit !important }
			+ p { margin: 0 }
		}
		&.rules {
			color: $NOrange;

			h2 {
				color: $NOrangeBG;
				background-color: $NOrange;

				&:after { border-left-color: $NOrange }
			}
		}
		&.about-res {
			color: $NBlue;

			h2 {
				color: $NBlueBG;
				background-color: $NBlue;

				&:after { border-left-color: $NBlue }
			}
		}
		&.appearances {
			color: $NGreen;

			h2 {
				color: $NGreenBG;
				background-color: $NGreen;

				&:after { border-left-color: $NGreen }
			}
			p { font-size: 1.2em }
		}
		&.admin {
			color: $NDarkBlue;

			h2 {
				color: $NDarkBlueBG;
				background-color: $NDarkBlue;

				&:after { border-left-color: $NDarkBlue }
			}
		}
		ul {
			li .image > a .fluidbox__wrap { max-width: inherit }

			@extend %post-ul;
		}
		.unfinished ul li {
			.image > a.fluidbox--initialized { cursor: zoom-in }
			> .reserver .name {
				line-height: 30px;
				height: 30px;
			}
			> .reserver:before {
				content: "Reserved by:";
				position: absolute;
				left: 45px;
				font-size: 10px;
				font-style: italic;
				display: block;
				height: 10px;
				z-index: 1;
			}
		}
		.finished ul li {
			.image > a {
				position: relative;

				> span.typcn {
			    position: absolute;
			    left: 0;
			    top: calc(100% - 30px);
			    background: rgba(0,0,0,.7);
			    color: #5f5;
			    border: 2px solid $DeviationBorder;
			    border-top-right-radius: 10px;
			    height: 22px;
			    text-transform: uppercase;
			    max-width: 100%;
			    font-size: 22px;
			    line-height: 22px;
			    padding: 2px 3px;
			    cursor: help;
				}
			}
			> .reserver .name {
				line-height: 40px;
				height: 40px;
			}
		}
	}
	.post-form {
		> div > * {
			display: block;
			margin-bottom: 10px;
		}
		label {
			span {
				margin-bottom: 5px;
			}
			input {
				width: 100%;
				max-width: 300px;
			}
		}
		.img-preview > img {
			width: 100%;
			max-width: 300px;
		}
	}
}
#content .post-form label > span,
#requests > .unfinished > .group > h3 {
	display: block;
	font-size: 1.2em;
}
#content .post-form label > button,
#content .post-form .img-preview > .notice {
	margin: 0;
}
#requests > .unfinished > .group > h3 {
	margin: 5px 0 10px 5px;
}

#voting #muffins {
	width: 100%;
	max-width: 250px;
	margin: 5px 0 0;
	padding: 2px;
	background: #111;
	border: 1px solid #000;
	border-radius: 5px;
}

#star-rating {
	text-align: center;

	.rate {
		font-size: 0;

		label {
			display: inline-block;

			input { display: none }
			span {
				display: inline-block;
				width: 40px;
				height: 40px;
				background: url('../img/muffin.svg') no-repeat center;
				opacity: 1;
				background-size: contain;
				transition: opacity .1s;
			}
			&.selected ~ label span {
				opacity: .2;
			}
		}
		&:hover label span {
			opacity: .2;

			&.active { opacity: .7 }
		}
	}
}

#vidlinks input {
	width: 350px !important;
	$height: 4px + 16px + 4px;
	height: $height + 2px; // + border
	padding-left: $height;
	background: url(../img/video_providers.svg) no-repeat;

	&[name=dm] { background-position: 4px 4px }
	&[name=yt] { background-position: 4px -20px }
}

#vote-distrib {
	canvas {
		width: 200px;
		height: 200px;
		display: block;
		margin: 0 auto;
	}
	.tooltip {
		display: block;
		text-align: center;
		font-size: 17px;
		font-weight: bold;
		line-height: 17px;
		height: 17px;
		margin: 5px 0 0;

		> span {
			display: inline-block;
			height: 17px;
			vertical-align: bottom;
			color: #8a6d31;
		}

		.muffins {
			margin-left: 5px;
			background: url('../img/muffin-rating.svg') no-repeat center;
			background-size: 100px 17px;

			@for $i from 1 through 5 {
				&.cnt-#{$i} { width: #{$i*20px} }
			}
		}
	}
}
