$UIColor: #fff;
$UIBackground: darkslategray;
$DebugImgTopLeft: #99f;
$DebugImgCenter: #f77;
$DebugWrapCenter: #7f7;
%debug-point {
	content: "";
	display:block;
	position:absolute;
	z-index:5;
	width: 6px;
	height: 6px;
	border-radius:100%;
	border: 2px solid white;
}
.poly-wrap {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	user-select: none;

	&:before {
		@extend %debug-point;
		top: calc(50% - 5px);
		left: calc(50% - 5px);
		background-color: $DebugWrapCenter;
	}

	.poly-image-element {
		position: absolute;
		z-index: 1;
	}

	.poly-svg-wrap {
		position: absolute;
		display: block;
		pointer-events: none;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		.poly-svg-element {
	    display:block;
	    height: inherit;
	    width: inherit;
		}
	}

	.poly-image-overlay {
		position: absolute;
		z-index: 3;
		cursor: move;
		border: 1px solid rgba(black, .9);
		background: rgba(black, .5);
		box-sizing: border-box;

		&:before {
			@extend %debug-point;
			top: -5px;
			left: -5px;
			background-color: $DebugImgTopLeft;
		}
		&:after {
			@extend %debug-point;
			top: calc(50% - 5px);
			left: calc(50% - 5px);
			background-color: black;
		}
	}

	.poly-imgc-expected {
		@extend %debug-point;
		top: calc(50% - 5px);
		left: calc(50% - 5px);
		background-color: $DebugImgCenter;
	}

	$margin: 10px;
	.poly-actions {
		position: absolute;
		z-index: 4;
		border-radius: 5px;
		background-color: $UIBackground;
		color: $UIColor;
		border: $margin/2 solid $UIColor;
		padding: 5px;
		text-align: center;

		button {
			cursor: pointer;
			border: 0;

			&:active { background: rgba(white, .1) }
		}
	}
	.poly-actions-bl {
		left: $margin/2;
		bottom: $margin/2;

		> * {
			padding: 4px;
			margin: 0;
			color: inherit;
			background-color: transparent;
			box-sizing: border-box;
		}
		button { display: inline-block }
		.poly-zoom-perc {
			display: block;
			cursor: text;

			&:focus {
				background-color: $UIColor;
				color: $UIBackground;
			}

			~ span {
				cursor: default;
				display: block;
				font-size: .8em;
			}
		}

		.poly-imgtl { color: $DebugImgTopLeft }
		.poly-imgc { color: $DebugImgCenter }
		.poly-wrapc { color: $DebugWrapCenter }
		.poly-imgtl, .poly-imgc, .poly-wrapc {
			font-weight: bold;
			$size: .5px;
			$color: black;
			text-shadow:
				0 0 $size $color,
				0 0 $size $color,
				0 0 $size $color,
				0 0 $size $color,
				0 0 $size $color,
				0 0 $size $color;
		}
	}

	.poly-loader {
    position: absolute;
    font-size: 32px;
    text-align: center;
    top: calc(50% - 32px);
    line-height: 32px;
    height: 32px;
    width: 100%;
	}
}
