@import url('https://fonts.googleapis.com/css?family=Arimo:400,700,400italic');
@import "vars";
@import "theme_dialog";
@import "theme_forms";
@import "../css/typicons.min.css";
@font-face {
	font-family: "Celestia";
	src: url('../font/Celestia Medium Redux.ttf');
	src: local('Celestia Redux Alternate'), local('Celestia Medium Redux'), url('../font/Celestia Medium Redux.ttf') format('truetype');
}
// Mobile-only Styles
@media all and (max-width: $Breakpoint) {
	body {
		overflow: initial;
		background: $StyledBackground;

		&.sidebar-open { overflow: hidden }
	}
	header, footer {
		position: initial;
	}
	header{
		background: $StyledBackground;
		
		nav {
			position: relative;
			box-shadow: 0 0 5px $HeaderFooterBG;

			&:after {
				content: "MLPVC-RR";
				position: absolute;
				top: 0;
				lefT: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				display: block;
				text-align: center;
				font-size: 28px;
				line-height: 50px;
				color: #000;
				@include outline(2);
				font-family: 'Celestia', sans-serif;
			}
			ul {
				position: relative;
				z-index: 2;

				li:not(:first-child) { display: none }
			}
		}
	}
	#sidebar {
		height: calc(100% - 50px);

		> .mobile-nav ul {
			list-style: none;
			padding: 0;
			margin: 5px 0 0;

			li {
				display: inline-block;

				&.active a {
					background-color: rgba(white, .5);
				}

				a {
					display: inline-block;
					padding: 2px;
					margin: 2px;
					color: #fff;
					border-radius: 5px;
				}
			}
		}
	}
	#main {
		position: initial;
		padding: 10px 5px;
		@include white-grid;
	}

	footer { text-align: center }

	.notice > label:first-child { text-align: center; font-size: 1.2em }
}
// Desktop-only Styles
@media all and (min-width: $Breakpoint) {
	body {
		overflow-x: auto;
		overflow-y: scroll;
		@include white-grid;
	}

	header, footer {
		z-index: 3;
		left: 0;
	}

	header { background: $HeaderFooterBG }

	#main {
		position: relative;
		z-index: 1;
		padding: 8px 8px #{8px + 38px} 8px;
	}
	#sidebar {
		height: calc(100% - 50px - 38px);

		.mobile-nav { display: none }
	}
	footer {
		position: fixed;
		bottom: 0;
		height: 38px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: $StyledBackground;
	}

	.notice > label:first-child { font-size: 1.4em }
}
// Sidebar always visible
@media all and (min-width: $SidebarBreakpoint){
	#sidebar {
			background: rgba(black, .8) !important;
	}
	body.sidebar-open {
		#sidebar {
			left: 0 !important;
		}
		#main {
			padding-left: calc(#{$SidebarWidth} + 8px);
		}
	}
	body.loading {
		#sidebar { transition: none !important }
		#main { transition: opacity .5s !important }
	}
}
// Global Stuff
.hidden { display: none }
.unreadable { font-size: 0 }
:focus { outline: 0 }
time[datetime][title] { cursor: help }
small { font-size: .75em }
[disabled], .disabled {
	cursor: not-allowed !important;
	opacity: .5 !important;
	pointer-events: none;
}
strong.typcn:before, span.typcn:not(:empty):before, em.typcn:before,
button:not(:empty):before, .btn:not(:empty):before {
	margin-right: 0.3125em;
}
img.avatar {
	width: 50px;
	height: 50px;
}
// Page layout
body {
	margin: 0;
	padding-top: $HeaderHeight;
	font-family: 'Arimo', sans-serif;
}
// Page layout - Header
header {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	width: 100%;
	height: $HeaderHeight;
	@include navfoot;

	// Page layout - Header - Navigation
	nav {
		display: block;
		height: 100%;
		line-height: 0;
		font-size: 0;
		white-space: nowrap;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: block;

			li {
				display: inline-block;
				color: #fff;
				height: 22px;
				line-height: 22px;
				font-size: 18px;
				box-sizing: border-box;
				margin: 5px 0;
				vertical-align: middle;

				&:not(:first-child) { margin-left: 7px }
				&.active {
					background-color: rgba(255, 255, 255, .3);
					border-radius: 3px;

					a:not(:link) {
						background-color: rgba(255, 255, 255, .2);
						transition: none;
						cursor: default;

						&:not(:first-child) {
							margin-left: 2px;
						}
					}
				}

				&.sidebar-toggle {
					position: relative;
					margin: 2.5px;
					width: 45px;
					height: 45px;
					cursor: pointer;
					border: 2px solid white;
					border-radius: 100%;
					overflow: hidden;

					body.loading & {
						cursor: wait;
						pointer-events: none;

						> .loader { display: block }
						> .avatar { opacity: .5 }
					}

					> .loader {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 2;
						display: none;
						width: 27px;
						height: 27px;
						margin: 7px;

						@include sprite-animation(27px, 27px, 12, 'loading-indicator');
					}
					> .avatar {
						width: 100%;
						height: 100%;
						position: absolute;
						z-index: 1;
						top: 0;
						left: 0;
					}
				}

				a {
					display: inline-block;
					color: inherit;
					text-decoration: none;
					padding: 1px 3.5px;
					height: 22px;
					line-height: 22px;
					border-radius: 3px;
					box-sizing: border-box;
					transition: background-color .2s linear;

					&:hover { background-color: rgba(white, .2) }
					&:active { background-color: rgba(white, .5) }
				}
			}
		}
	}
}
// External link icon
header, #sidebar .mobile-nav {
	a[href^=http]:after {
		font-style: italic;
		content: "";
		width: 12px;
		height: 12px;
		background-image: url(../img/extlink.svg);
		background-size: 12px;
		display: inline-block;
		margin-left: 2px;
	}
}
// Page layout - Content
#main {
	position: relative;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
	transition: opacity .5s, padding-left .5s ease-in-out;

	&.locked { overflow: visible }
	&.pls-wait {
		opacity: .5;
		pointer-events: none;
		transition: none;
	}
}
#content {
	border-radius: 5px;
	border: 1px solid $ContentOutline;
	background-color: $ContentBG;
	padding: 10px;
	color: #000;
	box-sizing: border-box;
	width: 100%;

	> h1 {
		font-size: 2em;
		text-align: center;
		margin: 0 0 5px;
		font-family: "Celestia", sans-serif;

		+ p {
			font-size: 1.6em;
			text-align: center;
			margin: 0 0 10px;
			font-style: italic;
		}
	}
}
#content, #dialogContent, .notice {
	a:not(.btn) { @include link }
}
// Page layout - Sidebar
#sidebar {
	position: fixed;
	z-index: 2;
	top: 50px;
	left: -$SidebarWidth;
	width: $SidebarWidth;
	max-width: 100%;
	box-sizing: border-box;
	color: #fff;
	$Background: rgba(black, .9);
	background: $Background;
	padding: 10px;
	text-align: center;
	transition: left .5s ease-in-out, box-shadow .5s ease-in-out;
	overflow: auto;

	body.sidebar-open & {
		left: 0;
		box-shadow: 0 0 10px #{$Background};
	}

	> section {
		text-align: center;

		&:not(:last-child) { margin-bottom: 15px }

		h2 {
			font-size: 24px;
			margin: 0 0 5px;
			font-family: "Celestia", sans-serif;
			font-weight: normal;
		}
		p { margin: 0 }

		.buttons > * { margin: 0 }
		&.welcome .links {
			list-style: none;
			border-radius: 5px;
			color: #777;
			background-color: #efefef;
			border: 1px solid;
			margin: 0 0 5px;
			padding: 5px;

			li {
				display: inline-block;
				white-space: normal;

				a {
					text-decoration: none;
					color: inherit;
					border-bottom: 1px solid transparent;
					transition: border-bottom-color .2s linear;
				}

				&:not(:last-child):after {
					content: ",";
					margin-right: .3em;
					display: inline-block;
				}
				&:not(.active) a:hover:not(:active) {
					border-bottom-color: initial;
				}
				&.active a {
					border-bottom-color: rgba(255, 255, 255, .5);
				}
			}
			&:before {
				content: "Useful links";
				display: block;
				border-bottom: 1px solid;
				font-size: 1.2em;
				margin-bottom: 5px;
				text-align: left;
				font-weight: bold;
			}
			&:empty { display: none }
		}
	}
	#upcoming {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			text-align: left;

			li {
				display: block;
				white-space: nowrap;

				&:not(:last-child) {
					margin-bottom: 5px;
				}

				> * { vertical-align: middle }
				.calendar {
					width: 40px;
					height: 40px;
					display: inline-block;
					position: relative;
					box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
					background: #fafafa;
					text-align: center;

					> * {
						width: 100%;
						display: block;
						box-sizing: border-box;
					}
					.top {
						top: 0;
						height: 15px;
						line-height: 15px;
						background: #f00 linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .1) 100%);
						color: #fff;
						text-transform: uppercase;
						font-weight: bold;
						font-size: 13px;
					}
					.bottom {
						bottom: 0;
						height: 25px;
						line-height: 25px;
						font-size: 1.5em;
						color: #000;
						border: 1px solid #777;
						border-top: 0;
					}
				}
				.meta {
					display: inline-block;
					margin: 2.5px 0 2.5px 5px;
					max-width: calc(100% - 45px);
				}
				.title, time, .countdown {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.title {
					font-size: 18px;
					height: 21px;
				}
				time, .countdown {
					font-size: 12px;
					height: 14px;

					&:before { content: "Airs " }
				}
			}
		}
	}
	#quote {
		display: block;
		margin: 0;
		opacity: 0;
		font-style: italic;
		line-height: 1.2em;

		&:empty { display: none }
		&:before { content: '\201C' }
		&:after { content: '\201D' }
		&[data-cite]:after {
			content: '\201D\0A\2014' attr(data-cite);
			white-space: pre-wrap;
		}
	}
	.usercard {
		font-size: 0;
		color: #777;
		background-color: #efefef;
		border-radius: 4px;
		padding: 3px;
		margin: 0 0 5px;
		display: inline-block;

		.avatar-wrap {
			margin: 3px auto 5px;
			box-shadow: 0 0 5px;
			border: 1px solid;
		}
		* { display: block }
		.un {
			font-size: 22px;
			letter-spacing: 1px;

			a { @include link }
		}
		.role { font-size: 16px }
	}
}
.avatar-wrap {
	position: relative;
	border-radius: 100%;
	border: 2px solid;
	margin: 0 auto 5px;
	width: 50px;
	height: 50px;
	cursor: default;
	user-select: none;
	color: #777;
	background-color: #efefef;

	.avatar { border-radius: 100% }
	.badge {
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
		background-color: inherit;
		padding: 1px 2px;
		border-radius: 2px;
		line-height: 1em;
		font-size: 12px;
		border: 1px solid;
		height: 1em;
		text-transform: uppercase;
		font-weight: bold;
		pointer-events: none;
		box-shadow: inherit;
	}
}
// Page layout - Footer
footer {
	display: block;
	width: 100%;
	padding: 10px;
	line-height: 18px;
	@include navfoot;

	a { color: inherit }
}
// Colors
.color-blue { color: $NBlue }
.color-darkblue { color: $NDarkBlue }
.color-green { color: $NGreen }
.color-red { color: $NRed }
.color-orange { color: $NOrange }
.color-yellow { color: $NYellow }
// Notices
.notice {
	display: block;
	margin: 0;
	border: 2px solid;
	border-radius: 7px;
	color: #fff;
	background-color: #000;
	padding: 7.5px;
	font-size: 16px;

	&:not(:last-child) { margin-bottom: 10px }
	&.info {
		color: $NBlue;
		background-color: $NBlueBG;

		button, .btn {
			color: $NBlueBG;
			background-color: $NBlue;
		}
	}
	&.success {
		color: $NGreen;
		background-color: $NGreenBG;

		button, .btn {
			color: $NGreenBG;
			background-color: $NGreen;
		}
	}
	&.fail {
		color: $NRed;
		background-color: $NRedBG;

		button, .btn {
			color: $NRedBG;
			background-color: $NRed;
		}
	}
	&.warn {
		color: $NOrange;
		background-color: $NOrangeBG;

		button, .btn {
			color: $NOrangeBG;
			background-color: $NOrange;
		}
	}
	&.caution {
		color: $NYellow;
		background-color: $NYellowBG;

		button, .btn {
			color: $NYellowBG;
			background-color: $NYellow;
		}
	}

	> label:first-child {
		display: block;
		padding-bottom: 5px;
		margin-bottom: 10px;
		font-weight: bold;
		border-bottom: 2px solid;
	}
	> p {
		margin: 0 !important;

		&:not(:last-child) { margin-bottom: 5px }

		time { border-bottom: 1px dashed }
	}
}
// Buttons
button, .btn {
	display: inline-block;
	margin: 5px;
	border: 0;
	border-radius: 3px;
	color: #fff;
	background-color: #777;
	padding: 4px 7px;
	font-size: 16px;
	text-decoration: none;
	user-select: none;
	opacity: .8;
	cursor: pointer;
	transform-origin: 50% 100%;
	transition: transform .1s linear, opacity .2s linear;

	&.large { font-size: 22px }
	&.blue {
		color: $NBlueBG !important;
		background-color: $NBlue;
	}
	&.darkblue {
		color: $NDarkBlueBG !important;
		background-color: $NDarkBlue;
	}
	&.green {
		color: $NGreenBG !important;
		background-color: $NGreen;
	}
	&.red {
		color: $NRedBG !important;
		background-color: $NRed;
	}
	&.orange {
		color: $NOrangeBG !important;
		background-color: $NOrange;
	}
	&.yellow {
		color: $NYellowBG !important;
		background-color: $NYellow;
	}
	&:empty {
		font-size: .8em;
		line-height: 1em;
		width: 1em;
		height: 1em;
		box-sizing: initial;
		padding: .28em;
		margin: 0;
	}
	&:hover, &:focus { opacity: 1 }
	&:active { transform: scale(.96) }
}
// Alignment
.align-center { text-align: center }
.align-left { text-align: left }
.align-right { text-align: right }
// Pagination
ul.pagination {
	display: block;
	padding: 0;
	margin: 10px 0;
	list-style: none;
	text-align: center;

	&:last-child { margin-bottom: 0 }
	&:before { content: "Pages: " }

	li {
		display: inline;

		&:not(:last-child):after { content: ', ' }
	}
}
