@import "vars";
@import "browser_icons";
@import "theme_section";
@import "theme_post-ul";

#content {
	h1 {
		> * {
			display: inline-block;
			vertical-align: bottom;
		}
		.role-badge {
			color: #777;
			background-color: #efefef;
			font-family: $RegularFont;
			font-size: .8em;
			padding: 2px 3px;
			border-radius: 4px;
			line-height: .9em;
			border: 2px solid;
			text-transform: uppercase;
			font-weight: bold;
			margin-right: 10px;
		}
		.da {
			line-height: 1em;
			height: 1em;
			width: .6em;

			$dalogo: #05cc47;
			svg {
				height: 100%;
			}
			path {
				fill: darken($dalogo, 10);
				transition: fill .2s linear;
			}
			&:hover path { fill: $dalogo }
		}
	}
	section { @extend %section }
	.details {
		> section:not(:last-child) { margin-bottom: 15px }
		.bans ul {
			margin: 0;
			padding: 0;
			list-style: none;

			&:empty:before {
				content: "This user has no banishments on record";
				font-style: italic;
			}

			li {
				display: block;
				blockquote {
					margin: 0;
					padding: 3px;
					display: inline-block;
				}
				&.banish blockquote {
					color: $NRed;
					background-color: $NRedBG;
				}
				&.un-banish blockquote {
					color: $NGreen;
					background-color: $NGreenBG;
				}
			}
		}
		.pending-reservations, .awaiting-approval {
			ul { @extend %post-ul }
		}
	}
	#settings {
		margin-top: 15px;
		border-top: 2px dashed $ContentOutline;
		padding-top: 10px;
		text-align: center;

		&:empty { display: none }
		&:not(:empty):before {
			content: "Settings";
			margin: 5px 0;
			font-size: 1.6em;
			font-weight: bold;
			display: block;
		}
		form label {
			input[type=checkbox], button {
				vertical-align: middle;
			}
		}
		.sessions {
			.session-list {
				list-style: none;
				padding: 0;
				margin: 10px 0 0;
				display: flex;
				flex-flow: row wrap;
				justify-content:center;

				li {
					display: inline-block;
					padding: 8px;
					border-radius: 5px;
					background: rgba(0,0,0,.12);
					margin: 0 5px 5px 0;
					flex: 0 0 auto;

					@include if-browser-has-icon {
						//noinspection CssOptimizeSimilarProperties
						&:before {
							content: "";
							display: block;
							margin: 0 auto 8px;
							height: 128px;
							width: 100%;
						}
					}

					@include browser-backgrounds(true);

					span { display: block }
					.browser {
						font-weight: bold;

						> button { vertical-align: bottom }
						+ .platform { font-size: .9em !important }
						~ * { font-size: .8em }
					}

					button ~ {
						button, .btn { margin-top: 0 }
					}
				}
			}
		}
	}
}

#dialogContent > div {
	> img { display: none }
	&:nth-last-child(2), &:last-child {
		> img {
			display: block;
			height: 200px;
			margin: 10px auto 0;

			@media all and (max-width: $Breakpoint), all and (max-height: 620px) {
				display: none;
			}
		}
	}
}
