@import "vars";
@import "browser_icons";

#content {
	h1 .da {
		display: inline;
		$dalogo: #05cc47;

		svg {
			height: .75em;
			width: .6em;
		}
		path {
			fill: darken($dalogo, 10);
			transition: fill .2s linear;
		}
		&:hover path { fill: $dalogo }
	}
	section { @extend %section }
	.details {
		> section { margin-bottom: 15px }
		.bans ul {
			margin: 0;
			padding: 0;
			list-style: none;

			&:empty:before {
				content: "This user has no banishments on record";
				font-style: italic;
			}

			li {
				display: block;
				blockquote {
					margin: 0;
					padding: 3px;
					display: inline-block;
				}
				&.banish blockquote {
					color: $NRed;
					background-color: $NRedBG;
				}
				&.un-banish blockquote {
					color: $NGreen;
					background-color: $NGreenBG;
				}
			}
		}
		.pending-reservations, .awaiting-approval {
			ul { @extend %post-ul }
		}
	}
	.settings {
		border-top: 2px dashed $ContentOutline;
		padding-top: 10px;
		text-align: center;

		&:empty { display: none }
		&:not(:empty):before {
			content: "Settings";
			margin: 5px 0;
			font-size: 1.6em;
			font-weight: bold;
			display: block;
		}
		.sessions {
			.session-list {
				list-style: none;
				padding: 0;
				margin: 10px 0 0;
				display: flex;
				flex-flow: row wrap;
				justify-content:center;

				li {
					display: inline-block;
					padding: 5px;
					border-radius: 5px;
					background: #ccc;
					margin: 0 5px 5px 0;
					flex: 0 0 auto;

					@include if-browser-has-icon {
						//noinspection CssOptimizeSimilarProperties
						&:before {
							content: "";
							display: block;
							float:left;
							margin: 0 auto;
							height: 64px;
							width: 100%;
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
						}
					}

					@include browser-backgrounds(true);

					span { display: block }
					.browser {
						font-weight: bold;

						> button { vertical-align: bottom }
						+ .platform { font-size: .9em !important }
						~ * { font-size: .7em }
					}

					button ~ button { margin-top: 0 }
				}
			}
		}
	}
}

#dialogContent > div {
	> img { display: none }
	&:nth-last-child(2), &:last-child {
		> img {
			display: block;
			height: 200px;
			margin: 10px auto 0;

			@media all and (max-width: $Breakpoint), all and (max-height: 620px) {
				display: none;
			}
		}
	}
}
