<section id="{{ id_what }}-live-update" class="hidden">
  <h2><span class="live-circle"></span> Live updates enabled</h2>
  <p>Changes to {{ text_what }} on this page are visible to you in real time.</p>
</section>
