{# @controller \App\Controllers\AppearanceController::sprite #}
{# @var appearance \App\Models\Appearance #}
{# @var colors array #}
{# @var map array #}
{# @var color_groups array #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content" class="section-container">
    <h1>Sprite Color Checker</h1>
    <div class="button-block align-center">
      <a href="/cg/v/{{ appearance.id }}" class="btn link typcn typcn-arrow-back"> Back to appearance page</a>
      <button class="darkblue typcn typcn-adjust-contrast" id="server-side-check">Run server-side check</button>
    </div>

    <section class="checker">
      <div id="svg-cont"></div>
      <div id="input-cont"></div>
    </section>
    <section class="color-list">
      <ul id="colors" class="colors">
        {{ appearance.colorsHTML(false, constant('NOWRAP')) }}
      </ul>
    </section>
  </div>
  {{ export_vars({
    'AppearanceID': appearance.id,
    'AppearanceColors': colors,
    'SpriteColorList': map.colors,
  }) }}
{% endblock %}
