@import "vars";
$_TBase: #0c70b1;
$TDefault: gray;
$TCategory: $_TBase;
$TSpecies: adjust_hue($_TBase, -80);
$TGender: adjust_hue($_TBase, 60);
$TAppearance: adjust_hue($_TBase, 120);
$TEpisode: adjust_hue($_TBase, 190);
$TCharacter: adjust_hue($_TBase, 240);
$TFeature:  adjust_hue($_TBase, 20);

@mixin tag-style($color:$TDefault, $icon:false){
	color: darken($color, 5);
	background-color: lighten($color, 50);
	@if ($icon != false){
			&:before { content: $icon }
	}
}
@mixin tag-button-style($color:$TDefault){
	button {
		background-color: darken($color, 5);
		color: lighten($color, 50);
	}
}

@mixin colored-square($size:16px, $border:1px){
	display: inline-block;
	border: $border solid #000;
	width: #{$size - $border*2};
	height: #{$size - $border*2};
	font-size: 0;
	transform: scale(1);

	&:not(:empty) {
		cursor: pointer;

		&:active { transform: scale(.9) }
	}
	&:empty {
		background: url('/img/transparency.svg');
		background-size: 8px;
	}
	&:not(:last-child){ margin-right: 4px }
}

@mixin clrp-invalid($fontSize:24px){
	background: $NRed !important;
	border: 1px solid transparent;
	position: relative;

	&:before {
		$padding: 2px;
		$fontSize: $fontSize - (2*$padding);

		content: "?";
		position: absolute;
		top: 0;
		left: 0;
		padding: $padding;
		line-height: $fontSize;
		font-size: $fontSize;
		height: $fontSize;
		width: $fontSize;
		text-align: center;
		font-weight: bold;
		color: $NRedBG;
	}
}

@mixin pony-cm-image($SquareSize: 250px){
	display: block;
	width: $SquareSize;
	height: $SquareSize;
	position: relative;
	font-size: 0;
	margin: 0 auto;

	//noinspection CssOptimizeSimilarProperties
	.img {
		$CMSize: $SquareSize * 0.4857;

		position: absolute;
		top: 0;
		left: 0;
		width: $CMSize;
		height: $CMSize;
		margin: ($SquareSize - $CMSize)/2;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
}

%clr {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	&.moving {
		box-shadow: 0 0 10px #000;
		background: #fff;
	}

	.clrp {
		flex: 0 0 auto;
		display: block;
		border: 1px solid #000;
		height: 28px;
		width: 28px;
		box-sizing: border-box;
		transition: background-color .2s linear, border .2s linear;

		&.invalid { @include clrp-invalid }
	}
	.clri, .clrl {
		flex: 0 1 auto;
		width: 100%;
		background-image: none !important;
	}
	.clri {
		width: 65px;
		font-family: $monospace;
	}
	.clra {
		margin-left: 3px;
		flex: 1 0 auto;

		> *, > *:before { line-height: 28px }
		.remove { cursor: pointer }
		.move { cursor: ns-resize }
	}

	&:first-child:last-child .clra .move {
		display: none;
	}
}

%colors-ul {
	padding: 0;
	list-style: none;

	@media all and (min-width: $Breakpoint){
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		li {
			margin: 5px;
			flex: 1 0 auto;
		}
	}

	li {
		padding: 10px;
		color: #434343;
		background-color: rgba(black,.07);
		border: 1px solid rgba(black,.2);
		font-size: 12px;
		font-family: 'Verdana', sans-serif;
		text-align: center;
		box-sizing: border-box;

		@media all and (max-width: $Breakpoint){
			display: block;
			max-width: 100%;

			&:not(:last-child) {
				margin: 0 0 10px;
			}

			> .cat {
				line-height: 1em;

				.admin {
					margin-top: 5px;
					display: block;
					font-size: .9em;

					button {
						margin: 0;

						&:not(:last-child){ margin-right: 5px }
					}
				}
			}
		}

		> .cat {
			font-size: 2.2em;
			font-weight: bold;
			display: block;
			margin: 0 0 5px;
			font-family: 'Celestia', sans-serif;

			~ span {
				@include colored-square(35px);
			}
			~ .color-line {
				display: flex;

				&:not(:last-child){
					margin-bottom: 5px;
				}

				> :first-child {
					display: block;
					flex: 0 0 35px;

					@include colored-square(35px);

					+ span {
						display: block;
						flex: 1 1 auto;
						text-align: left;
						box-sizing: border-box;
						padding-left: 5px;

						.label {
							font-size: 20px;
							line-height: 35px;
							height: 35px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}

				&:not(.no-detail) > :first-child + span {
					display: flex;
					flex-flow: column nowrap;

					.label {
						display: block;
						flex: 0 0 23px;
						line-height: 16px;
						height: 23px;
						font-size: 18px;
					}
					.ext {
						flex: 0 0 12px;
						display: block;
						line-height: 12px;
						height: 12px;
						font-size: 12px;
						white-space: nowrap;
					}
				}
			}
		}
	}
}

@mixin pony-cm {
	border: 1px solid #afafaf;
	background: #fff;
	margin: 5px;
	text-align: center;
	padding: 5px;

	.title {
		font-size: 20px;
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
	}

	.madeby {
		display: block;
		margin: 10px 0 5px;

		&, .da-userlink {
			font-size: 18px;
		}
	}
}
