%post-ul {
	@media all and (max-width: $Breakpoint){
		text-align: center;

		li {
			box-sizing: border-box;
			width: 100%;

			&:not(:last-child){
				margin-bottom: 10px;
			}

			.image > a {
				max-width: 100%;
				box-sizing: border-box;

				img {
					display: block;
					max-height: 150px;
					max-width: 100%;
				}
			}
			> a .deviation {
				margin: 0 auto 10px;
			}
		}
	}
	@media all and (min-width: $Breakpoint){
		&:empty { margin-left: 30px }

		li {
			margin: 5px;

			.image img { height: 150px }
		}
	}

	padding: 0;
	margin: 15px 0 20px 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

	li {
		padding: 10px;
		color: #434343;
		background-color: rgba(0,0,0,.07);
		border: 1px solid rgba(0,0,0,.2);
		font-size: 12px;
		font-family: 'Verdana', sans-serif;
		flex: 1 0 auto;
		text-align: center;
		transition: background-color .3s, border-color .3s;

		&.highlight {
			background-color: rgba($HeaderBlue,.15) !important;
			border: 1px solid rgba($HeaderBlue,.3) !important;
		}

		> * {
			display: block;
			vertical-align: bottom;
			margin-left: auto;
			margin-right: auto;
		}
		> .image {
			&.deviation img {
				border: 2px solid $DeviationBorder;
			}
			&.screencap > a {
				border: 1px solid;
			}
			&:not(.error) > a {
				font-size: 0;
				margin-bottom: 10px;
				color: inherit;
				display: inline-block;
				background: url('../../img/transparency.svg');
				background-size: 16px;
			}
			&.error > a {
				font-size: 16px;
				display: block;
				margin-bottom: 5px;
			}
			> a {
				position: relative;

				> span.typcn {
			    position: absolute;
			    left: 0;
			    top: calc(100% - 30px);
			    background: rgba(0,0,0,.7);
			    color: #5f5;
			    border: 2px solid $DeviationBorder;
			    border-top-right-radius: 10px;
			    height: 22px;
			    text-transform: uppercase;
			    max-width: 100%;
			    font-size: 22px;
			    line-height: 22px;
			    padding: 2px 3px;
			    cursor: help;
				}
			}
		}
		> .label {
			font-size: 1.2em;
			font-style: italic;
			max-width: 266px;
			margin-bottom: 5px;

			&:not(.noquotes){
				&:before, &:after { content: '"' }
			}
		}
		.reserver, .reserve-request {
			height: 40px;
		}
		> .reserve-request {
			font-size: 16px;
			line-height: 40px;
			height: 40px;
			margin: 5px auto 0;
			opacity: 1 !important;
			padding: 0 5px;
			color: #666;

			@extend %reserve-button;
		}
		.contest-note {
			cursor: help;
		}
		.reserver {
			display: inline-block;
			margin-top: 5px;
			font-size: 0;
			position: relative;
			text-align: left;

			.da-userlink {
				height: 100%;
				position: relative;
				z-index: 2;
				min-width: 125px;
				overflow: hidden;
				box-sizing: border-box;

				> * {
					margin-right: 5px;
					display: inline-block;
				}
				.avatar {
					height: 40px;
					width: 40px;
				}
				.name {
					font-size: 16px;
					vertical-align: bottom;
				}
			}
		}
		.actions {
			white-space: nowrap;
			margin-top: 5px;

			&:empty { display: none }

			button {
				display: inline-block;
				font-size: 1.2em;
			}
		}
	}
	&:empty:before { content: "None yet." }
}
%post-ul-fluidbox {
	li .image > a .fluidbox__wrap { max-width: inherit }
}
