@import "browser_icons";
@import "vars";
@import "theme_section";

#content {
	> div:first-child {
		display: none;

		@include if-browser-has-icon {
			display: block;
			width: 128px;
			height: 128px;
			margin: 0 auto;
		}
		@include browser-backgrounds();
	}
	> section { @extend %section }
}
