//noinspection CssUnknownTarget
@import "jquery.qtip";
@import "colorguide_vars";
@import "theme_ctxmenu";
// Mobile-only
@media all and (max-width: $Breakpoint){
	.appearance-list > li {
		display: block !important;
		text-align: center;

		> div {
			&.sprite {
				display: inline-block !important;
				margin: 0;
			}
			&:last-child {
				max-width: 100% !important;
				padding: 0 !important;
				display: block !important;
				text-align: left;
			}

			> strong {
				text-align: center;

				a:first-child {
					display: block;

					~ * { font-size: .6em }
				}

				button, .btn {
					&:nth-child(2) { margin-left: 0 }
				}
			}

			div.tags {
				display: flex;
				width: 100%;
				flex-flow: row wrap;

				&:empty { display: none }

				.addtag {
					margin: 0;
					width: 100%;
				}
				> * {
					flex: 1 1 auto;

					margin: 2.5px !important;
				}
			}

			div.notes {
				> span + a {
					margin-top: 3px;
				}
				a {
					display: block;
					$LinkHeight: 18px;
					height: $LinkHeight;

					&:after {
						content:"";
						display: inline-block;
						width: $LinkHeight*.9;
						height: $LinkHeight*.9;
						background: url('../../img/extlink-link-color.svg') no-repeat center center;
						background-size: contain;
					}
					> span, &:after {
						vertical-align: middle;
					}
					> .cm-direction { display: none }
				}
			}

			ul.colors {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				border-style: solid;
				border-color: rgba(0,0,0,.3);
				border-width: 1px 0 0 1px;
				margin-top: 5px;

				li {
					display: block;
					text-align: center;
					flex: 1 0 auto;
					max-width: 100%;
					box-sizing: border-box;
					margin: 0;
					border-width: 0 1px 1px 0;
				}
			}
		}
	}
}
// Desktop-only
@media all and (min-width: $Breakpoint){
	.appearance-list > li > div {
		&:last-child:not(:first-child) { max-width: calc(100% - 160px) }

		.update time { border-bottom: 1px dashed }
		div.notes > span + a {
			margin-left: 5px;
			border-left: 1px solid #000;
			padding-left: 5px;
		}
	}

	.notice.tagediting { display: none }

	#search-form {
		font-size: 1.7em;
	}
}

#content > p.links { margin: 0 0 5px }

.appearance-list {
	padding: 0;
	margin: 0;

	.pagination + &:empty:before {
		font-size: 1.4em;
		font-style: italic;
		content: "There are no appearances on this page";
		display: block;
		text-align: center;
	}

	> li {
		padding: 10px;
		color: #434343;
		background-color: rgba(0,0,0,.03);
		border: 1px solid rgba(0,0,0,.3);
		display: flex;
		flex-flow: row nowrap;

		&:not(:last-child) { margin-bottom: 10px }

		> * {
			flex: 0 0 auto;
			max-width: 100%;
		}
		> div {
			&:not(:last-child) { margin-right: 10px }

			&:first-child img { width: 150px }
			> strong {
				display: block;
				font-size: 1.5em;

				> * {
					display: inline-block;
					vertical-align: middle;
				}

				button, .btn { margin: 0 0 0 8px }
			}
			> .update {
				margin-top: 5px;
				font-size: .8em;

				&:empty { display: none }
			}
			> .notes {
				margin-top: 6px;

				&:empty { display: none }

				> a .cm-direction {
					border: 1px dashed;
					padding: 2px 2px;
					border-radius: 4px;
					background: rgba(white,.5);
				}
			}
		}
	}
}

.upload-wrap {
	position: relative;
	overflow: hidden;
	border: 1px dashed rgba(black,.5);
	line-height: initial;

	@mixin activate {
		background-color: rgba(white, .7);
		&:before, &:after { opacity: 1 }
	}

	> input[type=file] {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		padding: 0;
		border: 0;
		z-index: 3;
		cursor: pointer;

		&:hover + .helper { @include activate }
	}
	&.drop, &.uploading {
		> .helper { @include activate }
	}
	&.drop > .helper:before { content: '\e060' }
	&.uploading > .helper {
		&:before {
			content: '\e020';
			animation: spin infinite 1s linear;

			@keyframes spin {
				0% {
					transform: rotateZ(0deg);
				}
				100% {
					transform: rotateZ(360deg);
				}
			}
		}
		&[data-progress]:after {
			content: "Uploading...\0A" attr(data-progress) "%";
			font-size: 18px;
		}
	}
	&:not(.uploading){
		&:not(.nosprite) > .helper {
			&:before { content: '\e00b' }
			&:after { content: "Open in new tab" }
		}
		&.nosprite > .helper {
			&:before { content: '\e126' }
			&:after { content: "Click to upload" }
		}
	}
	> .helper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		font-size: 48px;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		transition: background-color .2s;

		&:before, &:after {
			position: relative;
			z-index: 3;
			opacity: 0;
			transition: opacity .2s;
			color: #fff;
		}
		&:before {
			//noinspection CssNoGenericFontName
			font-family: 'Typicons';
			@include outline($LightOutline, #000);
		}
		&:after {
			font-weight: bold;
			white-space: pre-wrap;
			display: block;
			text-align: center;
			font-size: 16px;
			margin-top: 5px;
			@include outline($MediumOutline, #000);
		}
	}
}

div.tags {
	user-select: none;
	margin-top: 6px;

	.addtag {
		margin-bottom: 5px;
	}
}
.tag:not(.addtag), div.tags .twitter-typeahead {
	margin: 0 6px 6px 0;
	vertical-align: top;
}
.tag {
	display: inline-block;
	font-weight: bold;
	box-sizing: border-box;
	padding: 3px 5px;
	border: 1px solid;
	cursor: default;
	height: 26px;

	&:before {
		//noinspection CssNoGenericFontName
		font-family: 'Typicons';
		margin-right: 5px;
	}
	&:not(:last-child) { margin-right: 5px }

	&:not([class*=typ-]) { @include tag-style($TDefault) }
	&.typ-cat { @include tag-style($TCategory, '\e083')	}
	&.typ-spec { @include tag-style($TSpecies, '\e148') }
	&.typ-gen { @include tag-style($TGender, '\e10f') }
	&.typ-app { @include tag-style($TAppearance, '\e07e') }
	&.typ-ep { @include tag-style($TEpisode, '\e131') }
	&.typ-char { @include tag-style($TCharacter, '\e12c') }
	&.synonym {
		font-weight: normal !important;
		opacity: .8;
		letter-spacing: -.8px;
		font-size: .9em;

		> .uses .typcn { margin-right: 4px }
	}
}

#universal {
	margin-bottom: 10px;
}

div.colors-pending, ul.colors:empty:before {
	display: block;
	width: 100%;
	text-align: center;
	padding: .2em;
	box-sizing: border-box;
	border: 1px dashed rgba(black,.5);
}
div.colors-pending {
	font-size: 1.2em;
	color: $NDarkBlue;
}

ul.colors {
	display: block;
	padding: 0;
	list-style: none;
	white-space: initial !important;
	margin: 0;

	&:empty:before {
		content: "There are no color groups for this appearance, add one by right-clicking here";
		font-size: 1.4em;
		font-style: italic;
		margin-top: 5px;
	}
	&:not(#colors) {
		user-select: none;

		&:empty:before {
			font-size: 18px;
		}
	}

	> li {
		display: inline-block;
		border: 1px solid rgba(black, .2);
		background-color: rgba(black, .05);
		padding: 4px;
		margin: 5px 5px 0 0;
		font-size: 16px;

		> * { vertical-align: middle }
		> span:not(.cat) { @include colored-square(16px, 1px) }
	}
}

%qtip-custom {
	font-size: 16px;
	line-height: initial !important;
	min-width: initial !important;

	.qtip-titlebar {
		padding: 5px;
		text-align: center;
		background: inherit;

		+ .qtip-content { font-size: .75em }
	}
	.qtip-content {
		padding: 5px;
		text-align: center;
		border-top: 1px solid;
	}
}
.qtip-content:empty {
	display: none;
}

.qtip-see-thru {
	background-color: rgba(white,.8);
	border: 1px solid rgba(black,.7);
	box-shadow: 0 0 2px rgba(black,.7);

	@extend %qtip-custom;
}
.qtip-pick-warn {
	background-color: $NOrangeBG;
	border: 1px solid $NOrange;
	box-shadow: 0 0 2px $NOrange;
	color: $NOrange;
	font-size: 1.05em;
	line-height: 1.1em;
}
.qtip-link {
	background-color: white;
	color: $Link;
	border: 1px solid rgba($Link,.7);
	box-shadow: 0 0 2px rgba($Link,.7);
	font-size: 1.1em;

	@extend %qtip-custom;

	.cm-dir-image {
		@include pony-cm-image(150px);
		margin: 0 auto;
	}
}

.qtip-tag {
	@include tag-style($TDefault);

	border-color: initial !important;

	@extend %qtip-custom;
}

.qtip-tag-cat { @include tag-style($TCategory) }
.qtip-tag-spec { @include tag-style($TSpecies) }
.qtip-tag-gen { @include tag-style($TGender) }
.qtip-tag-app { @include tag-style($TAppearance) }
.qtip-tag-ep { @include tag-style($TEpisode) }
.qtip-tag-char { @include tag-style($TCharacter) }

#search-form {
	display: flex;
	flex-flow: row;
	max-width: 600px;
	width: 100%;
	text-align: center;
	margin: 0 auto 10px;

	> * {
		border-radius: 0;
	}

	:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	$SearchBorder: #222;
	input {
		font-size: 1em;
		line-height: .9em;
		height: 1em;
		margin: 0;
		padding: .3em;
		border-color: $SearchBorder;

		flex: 1 1 70%;
    width: 70%;
	}
	button {
		vertical-align: baseline;
		margin: 0;
		flex: 0 0 auto;
		font-size: .8em;
		border: 1px solid $SearchBorder;
		border-left: 0;
		transform: none !important;

		&:before { line-height: 1em }

		&:not(:hover) {
			color: $SearchBorder !important;
			background-color: #ccc !important;
		}
	}
}

#swatch-save {
	.section .btn {
		vertical-align: baseline;
		padding: 2px 3px;
	}
	.responsive-embed {
		border: 1px solid;
		margin-top: 15px;
	}
}
