@import "vars";
@import "colorguide_vars";

@media all and (min-width: $Breakpoint){
	#content section {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		> * {
			max-height: 602px;
			flex: 1 1 50%;
			box-sizing: border-box;
		}

		#svg-cont {
			margin-right: 10px;
		}

		#input-cont {
			overflow-y: auto;
		}
	}
}

#content {
	#svg-cont {
		border: 1px dashed rgba(black,.5);
		background: url('../../img/transparency.svg');
		background-size: 16px;

		svg {
			max-height: 600px;
			max-width: 100%;
		}
	}

	#input-cont {
		&:before {
			content: "Color Bindings";
			display: block;
			font-size: 28px;
			padding: 5px 0 10px;
			text-align:center;
			font-family: "Celestia", sans-serif;
			font-weight: normal;
			color: #fff;
			background: $HeaderBlue url('../../img/grid-w-.1.svg') repeat;
			background-size: 4px;
			border: 1px solid black;
			border-bottom: 0;
		}

		> div {
			display: flex;
			flex-flow: row nowrap;
			color: black;
			border: 1px solid currentColor;
			transition: color .2s linear, border-color .2s linear, background-color .2s linear;

			&:not(:last-child) {
				border-bottom: 0;
			}

			&:hover {
				color: $NOrange;

				select, input {
					background-color: $NOrangeBG;
				}
			}

			> * {
				height: 30px;
				box-sizing: border-box;
				border: 0;

				&:not(:last-child){
					border-right: 1px solid currentColor;
				}
			}
			.color-preview {
				flex: 0 0 30px;
				display: block;
				width: 30px;
				box-sizing: border-box;

				&.invalid { @include clrp-invalid(30px) }
			}
			select, input {
				display: inline-block;
				flex: 1 1 50%;
				padding: 5px 7px;
			}
			select {
				display: inline-block;
				flex: 1 1 50%;
				opacity: 1 !important;
				cursor: not-allowed;
				-webkit-appearance: none;
				-moz-appearance: none;
			}
			input {
				font-family: $monospace;
			}
		}
	}
}
