@import "vars";
@import "theme_post-ul";
@import "fluidbox";

#suggestion-output {
	@extend %post-ul;
	@extend %post-ul-fluidbox;

	&:empty {
		display: none;
	}

	margin: 5px 0;

	li {
		max-width: 100%;
		margin: 0;
		box-sizing: border-box;

		.image {
			&:not(.loaded){
				// Image + Margin + Borders
				width: 200px;
				height: 200px;
				background: url(/img/loading-gears.svg) no-repeat center;
				background-size: 75%;
				margin: 0 auto;

				> a { opacity: 0 }
			}
			&.loaded {
				> a {
					opacity: 1;
					transition: opacity .3s linear;
				}
				img {
					height: auto;
					max-width: 100%;
					max-height: 200px;
				}
			}
			> a {
				cursor: zoom-in;
			}
		}
		.label {
			max-width: 400px;
			font-size: 1.4em;
		}

		> .reserver {
			@extend %reserver;
		}
	}
}
