@import "../../vars";
@import "../../components/optional/post-list";

#content {
	> section {
		&.overdue-submissions table {
			font-size: 1.7em;

			td {
				padding: 5px;
			}
			.da-userlink {
				border: 0;
				background: none;

				> * {
					vertical-align: middle;
				}

				img { border: 0 }

				.name {
					font-size: .8em;
				}
			}
		}
		&.mass-approve {
			@media all and (max-width: $Breakpoint){
				display: none;
			}
			.textarea {
				width: 200px;
				height: 2em;
				line-height: 1em;
				border: 1px solid black;
				background: white;
				overflow: hidden;
				padding: 10px;
				cursor: text;
				font-family: $monospace;

				&:before {
					content: "Paste here";
					position: absolute;
					color: rgba(black, .5);
				}

				> * { display: none }
			}
		}
		&.elastic-status pre {
			overflow: auto;
		}
		&.recent-posts {
			> div:empty {
				height: 100px;
				width: 100%;
				margin: 10px 0 20px;
				background: url('/img/loading-gears.svg') no-repeat center;
				background-size: contain;
			}
			ul {
				@extend %post-ul;
				margin-bottom: 0;

				&:empty:before {
					content: "No recent posts to show";
					font-style: italic;
				}

				li .reserver .da-userlink .name {
					font-size: 16px;
					vertical-align: middle;
				}
			}
		}
	}
}
