@import "vars";

/* Mobile-only Styles */
@media all and (max-width: 650px){
	#content > section {
		h2 {
			text-align: center;
			border-radius: 3px;

			button {
				display: block;
				margin: 5px auto 3px;
			}
		}
		ul {
			margin: 15px 0 20px 0;
			text-align: center;

			li {
				box-sizing: border-box;
				width: 100%;

				&:not(:last-child){
					margin-bottom: 5px;
				}

				.screencap img, .deviation img {
					max-height: 150px;
					max-width: 100%;
				}
				.fluidbox-wrap {
					display: block;
				}
				.fluidbox-wrap * {
					display: inline-block;
				}
				> a .deviation {
					margin: 0 auto 10px;
				}
			}
		}
		.avatar {
			display: none;
		}
	}
}
/* Desktop-only Styles */
@media all and (min-width: 650px){
	body.no-distractions {
		overflow: hidden;
		padding-right: 18px;

		header, footer {
			opacity: 0;
			pointer-events: none;
		}
	}
	#content > section {
		ul {
			margin: 15px 0 20px 30px;

			li {
				margin: 5px;

				.screencap img, .deviation img {
					height: 150px;
				}
			}
		}
		h2 {
			display: inline-block;
			height: 30px;
			position:relative;
			left:-10px;

			&:after {
				content:"";
				position: absolute;
				top: 0;
				right: -30px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 30px 0 0 30px;
				border-color: transparent transparent transparent #ccc;
			}

			button {
				margin: 0 0 0 10px;
				padding: 3px;
				vertical-align: bottom;
			}
		}
	}
}

#content {
	> .rules {
		counter-reset: counter;

		ol {
			padding: 0 10px;
			margin: 0;
			list-style: none;

			li {
				position: relative;
				padding-left: 20px;

				&:before {
					position: absolute;
					left: 0;
					text-align: right;
					content: counter(counter) ") ";
					counter-increment: counter;
				}
				&:not(:last-child) {
					margin-bottom: 5px;
				}
			}
		}
	}
	> section {
		margin: 10px 0 0;

		h2 {
			font-size: 1.3em;
			margin: 0 0 10px;
			background-color: #ccc;
			padding: 3px 7px 3px 25px;
			font-weight: normal;
			box-sizing: border-box;
		}
		ul {
			padding: 0;
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			li {
				padding: 10px;
				color: #434343;
				background-color: rgba(0,0,0,.05);
				border: 1px solid rgba(0,0,0,.2);
				box-shadow: 0 0 2px rgba(0,0,0,.2);
				font-size: 12px;
				font-family: 'Verdana', sans-serif;
				flex: 1 0 auto;
				text-align: center;
				transition: background-color .3s, border-color .3s, box-shadow .3s;

				&:hover {
					background-color: rgba(0,0,0,.1);
					border: 1px solid rgba(0,0,0,.3);
					box-shadow: 0 0 7px rgba(0,0,0,.3);
				}

				> * {
					display: block;
					vertical-align: bottom;
					margin-left: auto;
					margin-right: auto;
				}
				> .image {
					&.screencap > a {
						border: 1px solid;
						box-shadow: 0 0 2px;
					}

					> a {
						font-size: 0;
						white-space: nowrap;
						margin-bottom: 10px;
						color: inherit;
						display: inline-block;
					}
					> .fluidbox {
						cursor: zoom-in !important;
					}
					.fluidbox-opened .fluidbox-wrap {
						cursor: zoom-out !important;
					}
				}
				> .label {
					font-size: 1.2em;
					font-style: italic;

					&:before, &:after { content: '"' }
				}
				.reserver, .reserve-request {
					color: #666;
					background: #efefef linear-gradient(to bottom, #d2dfc5 0%, #bdd1b4 100%);
					border: 1px solid #93a98f;
					border-radius: 5px;
					height: 40px;
				}
				> .reserve-request {
					font-size: 16px;
					line-height: 40px;
					height: 40px;
					margin: 5px auto 0;
					opacity: 1 !important;
					padding: 0 5px;
				}
				.reserver {
					display: inline-block;
					margin-top: 5px;
					overflow: hidden;
					font-size: 0;
					position: relative;
					text-align: left;

					.da-userlink {
						height: 100%;
						position: relative;
						z-index: 2;

						> * {
							margin-right: 5px;
						}
						.avatar {
							height: 40px;
							width: 40px;
							display: inline-block;
						}
						.name {
							display: inline-block;
							font-size: 16px;
							vertical-align: bottom;
						}
					}
				}
				.reserver-actions {
					white-space: nowrap;
					button {
						display: inline-block;

						&:not(:last-child){
							margin-right: 0;
						}
					}
				}
			}
			&:empty:before { content: "None yet." }
		}
		.unfinished ul li {
			> .reserver .name {
				line-height: 30px;
				height: 30px;
			}
			> .reserver:before {
				content: "Reserved by:";
				position: absolute;
				left: 45px;
				font-size: 10px;
				font-style: italic;
				display: block;
				height: 10px;
				z-index: 1;
			}
		}
		.finished ul li {
			.deviation img {
				background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><rect fill="#FFFFFF" width="16" height="16"/><rect fill="#EFEFEF" width="8" height="8"/><rect fill="#EFEFEF" width="8" height="8" x="8" y="8"/></svg>') repeat;
				background-size: 12px;
				border: 2px solid #93a98f;
				box-shadow: 0 0 5px #93a98f;
			}
			> .reserver .name {
				line-height: 40px;
				height: 40px;
			}
		}
	}
	.post-form {
		> div > * {
			display: block;
			margin-bottom: 10px;
		}
		label {
			span {
				margin-bottom: 5px;
			}
			input {
				width: 100%;
				max-width: 300px;
			}
		}
		.img-preview > img {
			width: 100%;
			max-width: 300px;
		}
	}
}
#content .post-form label > span,
#requests > .unfinished > .group > h3 {
	display: block;
	font-size: 1.2em;
}
#content .post-form label > button,
#content .post-form .img-preview > .notice {
	margin: 0;
}
#content .post-form
#requests > .unfinished > .group > h3 {
	margin: 5px 0 10px 5px;
}

.fluidbox-wrap {
	display: inline-block;
}
.fluidbox-overlay {
	background: linear-gradient(to bottom, rgba(0,0,0,.9) 0%, rgba(0,0,0,.8) 0%) !important;
}

#voting .bar {
	height: 20px;
	margin-top: 5px;
	position: relative;
	font-size: 0;
	border-radius: 5px;
	overflow: hidden;

	> * {
		height: 100%;
		display: inline-block;
		background-image: linear-gradient(to bottom, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 100%);
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		vertical-align: middle;

		&[data-width]:before {
			content: attr(data-width) "%";
			color: #fff;
			text-shadow: 0 0 4px rgba(0,0,0,.4);
		}
	}
	.up { background-color: darken($NGreenBG, 60) }
	.down { background-color: darken($NRedBG, 60) }
}