@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic);
@import "vars";
@import "theme_dialog";
@import "theme_forms";
@import "../css/typicons.min.css";
@font-face {
	font-family: "Celestia";
	src: url('../font/Celestia Medium Redux.ttf');
	src: local('Celestia Redux Alternate'), local('Celestia Medium Redux'), url('../font/Celestia Medium Redux.ttf') format('truetype');
}

// Mixins
@mixin navfoot {
	box-sizing: border-box;
	background: $NavFootBG;
	box-shadow: 0 0 12px $NavFootBG;
	color: #fff;
}

// Mobile-only Styles
@media all and (max-width: 650px){
	body { overflow: initial }
	#topbar h1 {
		margin: 0;
		font-size: 23px;

		.long { display: none }
		.short { display: inline }
	}
	header, footer {
		text-align: center;
		position: initial;
	}
	#main {
		position: relative;
		padding: 10px 5px;
		display:flex;
		flex-flow: column;
	}

	#content, #sidebar {
		float: none !important;
		width: 100% !important;
	}
	#content {
		margin-bottom: 10px;
		order: 2;
	}
	
	#sidebar {
		> .welcome .usercard {
			display: block;
			order: 1;
		}
		> .quote { display: none }
	}

	.notice > label:first-child { text-align: center; font-size: 1.2em }
}
// Desktop-only Styles
@media all and (min-width: 650px){
	body { overflow: auto }

	header, footer {
		z-index: 2;
		left: 0;
	}
	header { top: 0 }
	header.fixed {
		padding-bottom: 35px;

		nav {
			position: fixed;
			top: 0;
			left: 0;

			//noinspection CssOptimizeSimilarProperties
			li.home a {
				font-family: "Celestia", sans-serif;
				background-color: $HeaderBlue !important;
				background-image: url('../img/grid-w-.2.svg'), url('../img/grid-w-.7.svg');
				background-size: 16px, 4px;
				font-size: 18px;
				line-height: .8em;
				padding-right: .4em;

				> span {
					display: none;
					padding: 0;
				}
				&:before {
					color: #000;
					text-shadow:
						0 0 0.133em #fff,
						0 0 0.133em #fff,
						0 0 0.133em #fff,
						0 0 0.133em #fff,
						0 0 0.133em #fff,
						0 0 0.133em #fff;
					content: "MLP-VC R&R";
					font-weight: bold;
					display: inline-block;
				}
			}
		}
	}

	#topbar {
		height: 65px;
		text-align: center;
		background: #fff;
		overflow: hidden;
		box-sizing: border-box;
		transition: height .7s cubic-bezier(0.23, 1, 0.32, 1);

		h1 {
			display: inline-block;
			border-radius: 6px;
			margin: 5px 0;
			font-size: 30px;
			line-height: 35px;
			height: 35px;

			.long { display: inline }
			.short { display: none }
		}
	}
	nav {
		position: relative;
		z-index: 2;
		width: 100%;
	}
	
	#main {
		position: relative;
		z-index: 1;
		padding: 8px 8px 48px 8px;
	}
	#sidebar {
		padding: 0 0 0 10px !important;
		.usercard {
			display: inline-block;
		}
	}
	footer {
		position: fixed;
		bottom: 0;
		height: 38px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	// Element alignment
	#content, #sidebar {
		float: left;
		box-sizing: border-box;
	}
	#content { width: 70% }
	#sidebar { width: 30% }

	.notice > label:first-child { font-size: 1.4em }
}

// Global Stuff
.hidden { display: none }
:focus { outline: 0 }
time[datetime][title] { cursor: help }
small { font-size: .75em }
[disabled], .disabled {
	cursor: not-allowed !important;
	opacity: .5 !important;
	pointer-events: none;
}
.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after { clear: both }
strong.typcn:before, span.typcn:not(:empty):before, em.typcn:before ,
button:not(:empty):before, .btn:not(:empty):before {
	margin-right: 0.3125em;
}
img.avatar {
	width: 50px;
	height: 50px;
}

// Page layout
body {
	margin: 0;
	font-family: 'Arimo', sans-serif;
	//noinspection CssUnknownTarget
	background-image:
		url('../img/grid-1E3DB3-.1.svg'),
		url('../img/grid-1E3DB3-.5.svg');
	background-size: 16px, 4px;
}
// Page layout - Header
header {
	width: 100%;

	#topbar {
		position: relative;
		z-index: 3;
		width: 100%;
		font-size: 0;
		font-family: "Celestia", sans-serif;
		user-select: none;
		cursor: default;

		h1 {
			position: relative;
			z-index: 1;
			padding: 10px;
			overflow: hidden;
			text-shadow:
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff,
				0 0 0.133em #fff;
			color: #000;

			a {
				text-decoration: none;
				color: inherit;
			}
			// noinspection CssOptimizeSimilarProperties
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				background-color: $HeaderBlue;
				// noinspection CssUnknownTarget
				background-image: url('../img/grid-w-.2.svg'), url('../img/grid-w-.7.svg');
				background-size: 16px, 4px;
			}
			&.pride:after {
				$PrideRed: desaturate(#E60303, 20);
				$PrideOrange: desaturate(#FF8E00, 20);
				$PrideYellow: desaturate(#FFEF00, 20);
				$PrideGreen: desaturate(#008226, 20);
				$PrideBlue: desaturate(#004DFF, 20);
				$PridePurple: desaturate(#760789, 20);
				background-image: linear-gradient(to bottom,
					$PrideRed 0%, $PrideRed 16.666%,
					$PrideOrange 16.666%, $PrideOrange 33.336%,
					$PrideYellow 33.336%, $PrideYellow 50%,
					$PrideGreen 50%, $PrideGreen 66.667%,
					$PrideBlue 66.667%, $PrideBlue 83.334%,
					$PridePurple 83.334%, $PridePurple 100%
				);
				background-size: initial;
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			//noinspection CssUnknownTarget
			background-image: url('../img/grid-g.svg');
			background-size: 16px;
		}
	}

	// Page layout - Header - Navigation
	nav {
		line-height: 0;
		font-size: 0;
		padding: 5px;

		@include navfoot();

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: block;

			li {
				display: inline-block;
				font-size: 18px;
				color: #fff;
				line-height: 1em;

				&:not(:last-child){ margin-right: 5px }
				&.active {
					background-color: rgba(255,255,255,.3);
					border-radius: 3px;

					a:not(:link) {
						background-color: rgba(255,255,255,.2);
						transition: none;
						cursor: default;

						&:not(:first-child) {
							margin-left: 2px;
						}
					}
				}

				a {
					display: inline-block;
					color: inherit;
					text-decoration: none;
					padding: .1em .2em;
					height: 1.1em;
					line-height: 1.1em;
					border-radius: 3px;
					transition: background-color .2s linear;

					&:hover { background-color: rgba(255,255,255,.2) }
					&:focus, &:active {	background-color: rgba(255,255,255,.5) }

					&[href^=http]:after {
						content: "";
						width: 12px;
						height: 12px;
						background-image: url(../img/extlink.svg);
						background-size: 12px;
						display: inline-block;
						margin-left: 2px;
					}
				}
			}
		}
	}
}

// Page layout - Content & sidebar
#main {
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
	background: transparent;

	@extend .clearfix;

	&.locked { overflow: visible }
}
#content, #sidebar > section {
	border-radius: 5px;
	border: 1px solid $ContentOutline;
	background-color: $ContentBG;
	padding: 10px;
	color: #000;
}
#content, #sidebar {
	box-sizing: border-box;
}
#content {
	> h1 {
		font-size: 2em;
		text-align: center;
		margin: 0 0 5px;
		font-family: "Celestia", sans-serif;

		+ p {
			font-size: 1.6em;
			text-align: center;
			margin: 0 0 10px;
			font-style: italic;
		}
	}
	a { @include link }
}
#sidebar {
	> section {
		text-align: center;
		h2 {
			font-size: 24px;
			margin: 0 0 5px;
			font-family: "Celestia", sans-serif;
			font-weight: normal;
		}
		p {
			margin: 0;
		}

		&.welcome {
			.buttons > * {
				margin: 0;
			}
			.links {
				list-style: none;
				border-radius: 5px;
				color: #777;
				background-color: #efefef;
				border: 1px solid;
				margin: 0 0 5px;
				padding: 5px;

				li {
					display: inline-block;
					white-space: normal;

					a {
						text-decoration:none;
						color: inherit;
						border-bottom: 1px solid transparent;
						transition: border-bottom-color .2s linear;
					}

					&:not(:last-child):after {
						content: ", ";
						display: inline-block;
					}
					&:not(.active) a:hover:not(:active) {
						border-bottom-color: initial;
					}
					&.active a {
						border-bottom-color: rgba(255,255,255,.5);
					}
				}
				&:before {
					content: "Useful links";
					display: block;
					border-bottom: 1px solid;
					font-size: 1.2em;
					margin-bottom: 5px;
					text-align: left;
					font-weight: bold;
				}
				&:empty { display: none }
			}
		}

		&:not(:last-child){ margin-bottom: 10px }
	}
	#quote {
		display: block;
		margin: 0;
		opacity: 0;
		font-style: italic;
		line-height: 1.2em;

		&:empty { display: none }
		&:before { content: '\201C' }
		&:after  { content: '\201D' }
		&[data-cite]:after {
			content: '\201D\0A\2014' attr(data-cite);
			white-space: pre-wrap;
		}
	}
	.usercard {
		font-size: 0;
		border: 2px solid;
		color: #777;
		background-color: #efefef;
		border-radius: 4px;
		padding: 3px;
		margin: 0 0 5px;

		.avatar-wrap {
			margin: 3px auto 5px;
			box-shadow: 0 0 5px;
			border: 1px solid;
		}
		* { display: block }
		.un {
			font-size: 22px;
			letter-spacing: 1px;

			a { @include link }
		}
		.role { font-size: 16px	}
	}
}
.avatar-wrap {
	position: relative;
	border-radius: 100%;
	border: 2px solid;
	margin: 0 auto 5px;
	width: 50px;
	height: 50px;
	cursor: default;
	user-select: none;
	color: #777;
	background-color: #efefef;

	.avatar { border-radius: 100%	}
	.badge {
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
		background-color: inherit;
		padding: 1px 2px;
		border-radius: 2px;
		line-height: 1em;
		font-size: 12px;
		border: 1px solid;
		height: 1em;
		text-transform: uppercase;
		font-weight: bold;
		pointer-events: none;
		box-shadow: inherit;
	}
}

// Page layout - Footer
footer {
	display: block;
	z-index: 2;
	width: 100%;
	padding: 10px;
	line-height: 18px;

	@include navfoot;

	a { color: inherit }
}

// Colors
.color-blue { color: $NBlue }
.color-darkblue { color: $NDarkBlue }
.color-green { color: $NGreen }
.color-red { color: $NRed }
.color-orange { color: $NOrange }
.color-yellow { color: $NYellow }

// Notices
.notice {
	display: block;
	margin: 0;
	border: 2px solid;
	border-radius: 7px;
	color: #fff;
	background-color: #000;
	padding: 7.5px;
	font-size: 16px;

	&:not(:last-child) { margin-bottom: 10px }
	&.info {
		color: $NBlue;
		background-color: $NBlueBG;

		button, .btn {
			color: $NBlueBG;
			background-color: $NBlue;
		}
	}
	&.success {
		color: $NGreen;
		background-color: $NGreenBG;

		button, .btn {
			color: $NGreenBG;
			background-color: $NGreen;
		}
	}
	&.fail {
		color: $NRed;
		background-color: $NRedBG;

		button, .btn {
			color: $NRedBG;
			background-color: $NRed;
		}
	}
	&.warn {
		color: $NOrange;
		background-color: $NOrangeBG;

		button, .btn {
			color: $NOrangeBG;
			background-color: $NOrange;
		}
	}
	&.caution {
		color: $NYellow;
		background-color: $NYellowBG;

		button, .btn {
			color: $NYellowBG;
			background-color: $NYellow;
		}
	}

	> label:first-child {
		display: block;
		padding-bottom: 5px;
		margin-bottom: 10px;
		font-weight: bold;
		border-bottom: 2px solid;
	}
	> p {
		margin: 0 !important;

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}

// Buttons
button, .btn {
	display: inline-block;
	margin: 5px;
	border: 0;
	border-radius: 3px;
	color: #fff;
	background-color: #777;
	padding: 4px 7px;
	font-size: 16px;
	text-decoration: none;
	user-select: none;
	
	opacity: .8;
	cursor: pointer;

	transform-origin: 50% 100%;
	transition: transform .1s linear, opacity .2s linear;

	&.large { font-size: 22px }
	&.blue {
		color: $NBlueBG;
		background-color: $NBlue;
	}
	&.darkblue {
		color: $NDarkBlueBG;
		background-color: $NDarkBlue;
	}
	&.green {
		color: $NGreenBG;
		background-color: $NGreen;
	}
	&.red {
		color: $NRedBG;
		background-color: $NRed;
	}
	&.orange {
		color: $NOrangeBG;
		background-color: $NOrange;
	}
	&.yellow {
		color: $NYellowBG;
		background-color: $NYellow;
	}
	&:empty {
		font-size: .8em;
		padding: 2px;
		width: 1.5em;
		margin:0;
	}
	&:hover, &:focus { opacity: 1 }
	&:active { transform: scale(.96) }
}

// Alignment
.align-center { text-align: center }
.align-left   { text-align: left   }
.align-right  { text-align: right  }