{% set signed_in = signed_in or (current_user is defined and current_user is not null) %}
<div class='avatar-wrap provider-{{ signed_in ? current_user.get_avatar_provider ~ current_user.vectorAppClassName : 'deviantart' }}'{{ signed_in ? " data-for='#{current_user.id}'" : '' }}>
	<img src='{{ signed_in ? current_user.avatar_url : constant('GUEST_AVATAR') }}' class='avatar' alt='avatar'>
</div>
