{% spaceless %}
<nav class="dragscroll">
	<ul>
		<li class="sidebar-toggle"></li>
		{% include 'layout/_navigation_links.html.twig' %}
	</ul>
	<div id="to-the-top" class="typcn typcn-arrow-up"></div>
</nav>
{% endspaceless %}
