{% if current_user is null %}
{% set current_user = {
	'avatar_url': constant('GUEST_AVATAR'),
	'name': 'Curious Pony',
	'role': 'Guest',
} %}
{% endif %}
<div class='logged-in provider-{{ current_user.get_avatar_provider ?? 'deviantart' }}'>
	{% include 'layout/_avatar_wrap.html.twig' %}
	<div class="user-data">
		<span class="user-name">{{ current_user.toAnchor }}</span>
		<span class="user-role">
			<span>{{ current_user.get_role_label }}</span>
			{% if current_session is defined and current_session.updating %}
			<span id="session-update-indicator" title="Updating your session"></span>
			{% endif %}
		</span>
	</div>
</div>
