#content > img {
	width: 100%;
	max-width: 200px;
	margin: 0 auto 10px;
	display: block;
}
#content > h1 {
	font-size: 2em;
	text-align: center;
	margin: 0 0 5px;
}
#content > h1 + p {
	font-size: 1.4em;
	text-align: center;
	margin: 0 0 20px;
	font-style: italic;
}
#content > section:not(:last-child){
	margin-bottom: 10px;
}
#content > section > h2 {
	font-size: 1.5em;
	text-align: left;
}
#content > section > h2,
#content > section > div > * {
	margin: 0 0 5px;
}
#content > section > div > *:last-child {
	margin-bottom: 0;
}