@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext');
#dialogOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 1002;
}
#dialogBox {
	font-family: 'Segoe UI', 'Open Sans', sans-serif;
	position: fixed;
	top: 40%;
	left: 40%;
	min-width: 150px;
	z-index: 1002;
	background-color: rgba(255,255,255,.9);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	max-width: 75%;
	overflow: hidden;
	border-radius: 5px;
}
#dialogHeader {
	font-weight: 200;
	line-height: 26pt;
	width: auto;
	padding: 0 5px;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
	background: #2D89EF linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 100%);
}
#dialogHeader div {
	position: absolute;
	right: -5px;
	top: 5px;
}
#dialogContent {
	padding: 15px 10px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 11pt;
	line-height: 14pt;
	font-weight: 400;
}
#dialogContent > div:not(:last-child){
	border-bottom: 1px solid;
	padding-bottom: 5px;
	margin-bottom:4px;
}
#dialogContent p {
	margin: 0 0 5px;
}
#dialogContent > *:not(p) + p {
	margin-top: 5px;
}
#dialogContent > *:last-child {
	margin-bottom: 0;
}
#dialogButtons {
	position: relative;
	bottom: 0;
	width: auto;
	padding: 0 10px 10px;
	font-size: 18px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 5.5px;
	border-bottom-right-radius: 5.5px;
}
#dialogButtons button,
#dialogButtons input {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	min-width: 90px;
	min-height: 32px;
	height: 32px;
	background-color: #ccc;
	color: #353535;
	margin: 0 10px 0 0 !important;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 4px 10px;
	position: relative;
	outline: none;
	opacity: .85;
	border: 3px solid transparent;
	box-sizing: border-box;

	transition: border-color .2s ease-out, opacity .2s ease-out;
}
#dialogButtons button:last-child,
#dialogButtons input:last-child {
	margin-right: 0 !important;
}
#dialogButtons button:active,
#dialogButtons input:active {
	top: 1px;
	left: 1px;
}
#dialogButtons button[disabled],
#dialogButtons input[disabled] {
	cursor: not-allowed;
}
#dialogButtons button:focus,
#dialogButtons input:focus {
	opacity: 1;
	border-color: rgba(0,0,0,.2);
}