@import "vars";

#episodes {
	padding: 0;
	margin: 0 auto;
	border-collapse: collapse;
	font-size: 18px;
	box-sizing: border-box;

	thead th {
		padding: 2px 6px;

		@media all and (max-width: $Breakpoint){
			.mobile-hide { display: none }
		}
	}
	tbody {
		tr {
			border: 2px solid;
			padding: 3px;
			margin-bottom: 10px;
		}
		td {
			padding: 5px;
			color: rgba(0,0,0,.7);
		}
		.season, .episode {
			text-align: center;
			font-size: 1.7em;
		}
		.episode {
			padding-right: 0;

			> span {
				border-right: 2px solid;
				padding-right: 10px;
				display: block;
			}
		}
		.title, .airs { text-align: center }
		.title {
			padding: 5px 10px;

			> span.typcn-eye { cursor: help }
			a {
				display: inline-block;
				padding: 2px;
				text-decoration: none;
				line-height: 1em;
				border-radius: 3px;
			}
			.admincontrols { margin-left: 5px }
		}
	}
}
#dialogContent .input-group input {
	display: inline-block;
	width: 50%;
	box-sizing:border-box;
}
