#content > h1 {
	font-size: 2em;
	text-align: center;
	margin: 0 0 5px;
}
#content > h1 + p {
	font-size: 1.6em;
	text-align: center;
	margin: 0 0 10px;
	font-style: italic;
}

#episodes {
	padding: 0;
	margin: 0 auto;
	border-collapse: collapse;
	font-size: 18px;
	box-sizing: border-box;
}
#episodes thead th {
	padding: 2px 6px;
}
#episodes tbody tr {
	border: 2px solid;
	padding: 3px;
	margin-bottom: 10px;
}
#episodes tbody td {
	padding: 5px;

	color: rgba(0,0,0,.7);
}

#episodes tbody .season,
#episodes tbody .episode {
	text-align: center;
}

#episodes tbody .episode {
	padding-right: 0;
}
#episodes tbody .episode > span {
	border-right: 2px solid;
	padding-right: 10px;
	display: block;
}

#episodes tbody .title {
	padding: 5px 10px;
}

#episodes tbody .title a {
	display: inline-block;
	padding: 2px;
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
	line-height: 1em;

	transition: background-color .2s, border-bottom-color .2s;
}

#episodes tbody .title a:hover {
	background-color: rgba(10,10,10,.15);
	border-bottom-color: transparent;
	border-radius: 3px;
}