input[type]:not([type=radio]):not([type=checkbox]):not([type=button]),
select,
textarea {
	border: 1px solid;
	background-color: #efefef;
	color: #313131;
	padding: 4px;
	outline: 0;
	min-height: 18px;
	position: relative;
	line-height: 16px;
	font-size: 14px;
	transition: color .2s, border-color .2s;
}
#dialogContent input[type]:not([type=radio]):not([type=checkbox]):not([type=button]),
#dialogContent select,
#dialogContent textarea {
	color: #313131;
	border: 1px solid #CECECE;
	background-color: #EFEFEF;
}
input[type]:not([type=radio]):not([type=checkbox]):not([type=button]):focus,
select:focus,
textarea:focus {
	border-color: #07f;
}
input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[required]:not(:focus):valid:hover,
textarea[required]:not(:focus):valid:hover,
input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[pattern]:not(:focus):valid:hover,
textarea[pattern]:not(:focus):valid:hover {
	border-color: #0a0;
	color: #0d0;
}
#dialogContent input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[required]:not(:focus):valid,
#dialogContent textarea[required]:not(:focus):valid,
#dialogContent input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[pattern]:not(:focus):valid,
#dialogContent textarea[pattern]:not(:focus):valid {
	border-color: #00CE00;
	color: #070;
}
input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[required]:not(:focus):invalid:hover,
textarea[required]:not(:focus):invalid:hover,
input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[pattern]:not(:focus):invalid:hover,
textarea[pattern]:not(:focus):invalid:hover {
	border-color: #a00;
	color: #d00;
}
#dialogContent input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[required]:not(:focus):invalid,
#dialogContent textarea[required]:not(:focus):invalid,
#dialogContent input[type]:not([type=radio]):not([type=checkbox]):not([type=button]):not(:focus):invalid,
#dialogContent textarea[pattern]:not(:focus):invalid {
	border-color: #a00;
	color: #700;
}
input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[required]:focus:invalid,
textarea[required]:focus:invalid,
input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[pattern]:focus:invalid,
textarea[pattern]:focus:invalid {
	border-color: #d00;
	color: #a00;
}
input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[required]:focus:valid,
input[type]:not([type=radio]):not([type=checkbox]):not([type=button])[pattern]:focus:valid {
	border-color: #0d0;
	color: #0a0;
}
form:hover textarea[required]:focus:valid,
form:hover textarea[pattern]:focus:valid {
	border-color: #0d0;
}
select {
	padding-right: 5px;
}
textarea {
	padding-right: 5px;
	min-height: 100px;
}
input[type=checkbox] {
	-webkit-appearance: none;
	display: inline-block;
	border: 1px solid #313131;
	background-color: #0f0f0f;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	position: relative;
	margin: 0 3px 0 0;
	vertical-align: bottom;
	top: -2px;
	transition: border-color .2s, background-color .2s;
}
#dialogContent input[type=checkbox] {
	border: 1px solid #CECECE;
	background-color: #EFEFEF;
}
input[type=checkbox]:hover {
	background-color: #222;
}
#dialogContent input[type=checkbox]:hover {
	background-color: #ddd;
}
input[type=checkbox]:before {
	position: absolute;
	top: 2px;
	left: 2px;
	content: "\2713";
	font-size: 14px;
	line-height: 10px;
	opacity: 0;
	color: #efefef;
	transition: opacity .3s linear;
}
#dialogContent input[type=checkbox]:before {
	color: #000;
}
input[type=checkbox]:hover:before {
	opacity: .3;
}
input[type=checkbox]:checked:before {
	opacity: 1;
}
input[type=checkbox]:focus {
	border-color: #555;
}

#dialogContent input[type=checkbox]:focus {
	border-color: #888;
}
#dialogContent > div > form[id] > * {
	display: block;
	margin: 0 auto 10px;
	font-family: inherit;
	width: 100%;
	box-sizing: border-box;
}
#dialogContent > div > form[id] > *:last-child {
	margin-bottom: 0;
}
#dialogContent > div > form[id] label {
	text-align: center;
	cursor: pointer;
}
#dialogContent > div > form[id] label > * {
	vertical-align: text-bottom;
}