/* Mobile-only Styles */
@media all and (max-width: 650px){
	#content > section ul {
		margin: 15px 0 20px 0;

		text-align: center;
	}
	#content > section ul li .fluidbox-wrap,
	#content > section ul li > a .deviation {
		display: block;
		margin: 0 auto 10px;
	}
	#content > section ul li .fluidbox-wrap * {
		display: inline-block;
	}
	#content > section ul li .screencap,
	#content > section ul li .deviation {
		max-width: 100%;
		max-height: 175px;
	}

	#content > section .avatar {
		display: none;
	}
	#content > section h2 {
		text-align: center;
		border-radius: 3px;
	}
	#content > section h2 > button {
		display: block;
		margin: 5px auto 3px;
	}
}
/* Desktop-only Styles */
@media all and (min-width: 650px){
	body.no-distractions {
		overflow: hidden;
		padding-right: 18px;
	}
	body.no-distractions header,
	body.no-distractions footer {
		opacity: 0;
		pointer-events: none;
	}
	
	#content > section ul {
		margin: 15px 0 20px 30px;
	}
	#content > section ul li .screencap,
	#content > section ul li .deviation {
		max-width: 100px;
		margin-right: 10px;
	}
	#content > section h2 {
		display: inline-block;
		height: 30px;
		position:relative;
		left:-10px;
	}
	#content > section h2:after {
		content:"";
		position: absolute;
		top: 0;
		right: -30px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 30px 0 0 30px;
		border-color: transparent transparent transparent #ccc;
	}
	#content > section h2 button {
		margin: 0 0 0 10px;
		padding: 3px;
		vertical-align: bottom;
	}
}

#content > h1 {
	font-size: 2em;
	text-align: center;
	margin: 0 0 5px;
}
#content > h1 + p {
	font-size: 1.6em;
	text-align: center;
	margin: 0 0 10px;
	font-style: italic;
}
#content > .rules {
	counter-reset: counter;
}
#content > .rules > ol {
	padding: 0 10px;
	margin: 0;
	list-style:none
}
#content > .rules > ol > li {
	position: relative;
	padding-left: 20px;
}
#content > .rules > ol > li:not(:last-child) {
	margin-bottom: 5px;
}
#content > .rules > ol > li:before {
	position: absolute;
	left: 0;
	text-align: right;
	content: counter(counter) ") ";
	counter-increment: counter;
}
#content > section {
	margin: 10px 0 0;
}
#content > section h2 {
	font-size: 1.3em;
	margin: 0 0 10px;
	background-color: #ccc;
	padding: 3px 7px 3px 25px;
	font-weight: normal;
	box-sizing: border-box;
}
#content > section ul {
	padding: 0;
	list-style: none;
}
#content > section ul:empty:before {
	content: "None yet.";
}
#content > section ul li {
	padding: 7px;
	color: #434343;
	background-color: #c8c8c8;
}
#content > section ul li:not(:last-child) {
	margin-bottom: 10px;
}
#content .post-form > div > * {
	display: block;
	margin-bottom: 10px;
}
#content .post-form label > span {
	margin-bottom: 5px;
}
#content .post-form label > span,
#requests > .unfinished > .group > h3 {
	display: block;
	font-size: 1.2em;
}
#content .post-form label > input {
	width: 100%;
	max-width: 300px;
}
#content .post-form label > button,
#content .post-form .img-preview > .notice {
	margin: 0;
}
#content .post-form .img-preview > img {
	width: 100%;
	max-width: 300px;
}
#requests > .unfinished > .group > h3 {
	margin: 5px 0 10px 5px;
}

.fluidbox-wrap {
	display: inline-block;
}
.fluidbox-overlay {
	background: linear-gradient(to bottom, rgba(0,0,0,.9) 0%, rgba(0,0,0,.8) 0%) !important;
}